.user-name{margin-top: 50px;}
ion-label{color: #9e9e9e;}
ion-fab-button.green{background: transparent;}
ion-grid{
    ion-item{font-size: 0.8125rem;margin: 0 15px;--padding-start: 0;--inner-padding-end: 0;
        &:last-child{margin-bottom: 15px;}
        ion-label{color: #000;font-size:0.8125rem;}
        ion-input{font-size: 0.8125rem;}
    }
}
.hometown-item ion-label{position: absolute;top: 0;}
.hometown-item ion-label+ion-textarea{margin-top: 25px;--padding-start: 0;}
.error-message{display: inline-block;}
.bioTextarea{margin-bottom: 14px;--padding-bottom: 14px;}
// hitesh css strt
.three-block ion-item:first-child, .three-block ion-item:last-child {min-width: unset;}
.add-disp-name { padding-right: 5px;font-size: 14px !important;}
.top-header .item-has-focus{--highlight-background: none !important;}
// hitesh css end