.login-form ion-item{--border-color: rgb(222, 222, 222);}
.login-form ion-input{color: #222;}
.login-form ion-select{color: #222;}
ion-textarea{height: auto; --placeholder-color: #d1d1d1;font-size: 0.875rem;}
ion-select{font-size: 0.875rem;--padding-start:0}