<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label>Contact Admin</ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end"></ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form class="login-form sec-login" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <ion-item class="ion-no-padding">
            <!-- <ion-label></ion-label> -->
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select Ouery Type" formControlName="query" required>
              <ion-select-option value="Feedback">Feedback</ion-select-option>
              <ion-select-option value="Suggestion">Suggestion</ion-select-option>
              <ion-select-option value="Complain">Complain</ion-select-option>
            </ion-select>
          </ion-item> 
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.query">
              <span class="error-message" *ngIf="(submitted ||contactForm.get('query').touched) && contactForm.get('query').hasError(validation.type)">{{ validation.message }}</span>
            </ng-container>
          </div>
          <ion-item class="ion-no-padding">
            <ion-input placeholder="Subject" type="text" formControlName="subject"></ion-input>            
          </ion-item>   
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.subject">
              <span class="error-message" *ngIf="(submitted ||contactForm.get('subject').touched) && contactForm.get('subject').hasError(validation.type)">{{ validation.message }}</span>
            </ng-container>
          </div>      
          <ion-item class="ion-no-padding">
            <ion-textarea clearOnEdit="true" placeholder="Message" formControlName="message"></ion-textarea>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.message">
              <span class="error-message" *ngIf="(submitted ||contactForm.get('message').touched) && contactForm.get('message').hasError(validation.type)">{{ validation.message }}</span>
            </ng-container>
          </div>
          <br>
          <ion-button expand="block" class="green ion-text-uppercase" [disabled]="loading" (click)="onSubmit()">Contact Admin</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
