.notify-body{padding: 0px;}
p.notify_text{display: flex;width: 100%;font-size: .85rem;margin-bottom: 5px;padding: 5px 10px;}
p.notify_text:last-child{margin-bottom: 0;}
.notify_text>span{min-width: 130px;white-space: nowrap;font-weight: 500;}
.modal-close{--background: #FFF;--color:#26a69a;position: absolute;right: 0;top: 0;margin: 0;--padding-start: 0;--padding-end: 0;height: auto;display: none;}
p.notify_text:nth-child(odd) {background: #f1f1f1;}
.contentList p{padding-bottom: 10px;}

.list-person{font-size: 14px;}
.mb-15{margin-bottom: 15px;}