.user-profile-bg{height: 185px;background: url(../../../assets/images/demo3.jpg) no-repeat;background-size: cover;background-position: center;padding: 0 15px;}
.profile-content{position: relative;top: -50px;padding-top:20px;display: flex;justify-content: center;align-items: flex-start;flex-direction: column;padding-left: 10px;}
.profile-content a{color: #777777;font-size: 0.85rem;display: flex;justify-content: center;align-items: center;}
.profile-content ion-text{position: relative;top: 35px;left: 100px;}
.user-img{width: 90px;height: 90px;border-radius: 50%;object-fit: cover;object-position: center;-webkit-box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.55);-moz-box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.55);box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.55);margin-bottom: 10px;position: absolute;top: 0;}
.user-icon{width: 34px;height: 34px;border-radius: 50%;background: rgba(39, 166, 154, 0.07);display: flex;justify-content: center;align-items: center;}
.user-icon img{width: 16px;height: 16px;}
.top-list{display: flex;justify-content: space-around;margin-bottom: 0;}
.top-list ion-item{text-align: center;--min-height: 36px;--padding-start: 0;--inner-padding-end: 0;width: 25%;}
.top-list ion-item ion-label{font-size: 0.75rem;margin: 0;padding-top: 20px;}
.top-list img{width: 18px;position: absolute;top: 0;left: 50%;transform: translateX(-50%);}
.sec-notification{margin: 10px 0;}
.subprofile_tabs{--border-width: 0;
    ion-segment-button{border-radius: 30px;margin: 0 5px;background: rgba(58, 174, 163, 0.11);min-height: 38px;color: #000;text-transform: capitalize;letter-spacing: 0;}
    ion-segment-button.segment-button-checked{background: #27a69a;--indicator-color-checked: #27a69a;color: #FFF;}
    ion-segment-button.segment-button-checked span{color:#FFF}
    ion-label{margin: 0;}
}


.share-btn{bottom:5px;position:absolute;right:0;--background:#27a69a;--background-activated:#27a69a;--background-focused:#27a69a;--background-hover:#27a69a;--ion-color-shade:#27a69a!important;--ion-color-tint:#27a69a!important;--ion-color-base:rgba(0, 0, 0, 0.35)!important}
.profile_tabs ion-segment span{text-transform: capitalize;font-weight: 400;font-size: 0.625rem;}

.ios.top-list{padding-top: 8px !important;padding-bottom: 8px !important;}
.no-data{height: calc(100vh - 150px);}
.photoNodata{height: 70px;background: #f7f7f7;}


.item-card{
    margin-inline-end: 0px !important;
    margin-inline-start: 0px !important;
}
.item-header{
    padding: 15px 15px 15px 15px;
}
.header-right{
    align-items: center;
}

.post-image, 
.post-video {
    height: calc(100vw - 25px) !important;
    padding: 0px;
}
.post-image img{
    border-radius: 0px;
}
.post-slider{
    height: calc(100vw - 25px);
    max-height: none !important;
}
.post-slider ion-slide{
    height: 100% !important;
}
.video-icon{
    top: 15px;
    left: 15px;
    padding: 1px 4px;
    border-radius: 5px;
    background: #00000029;
}
.post-content {
    padding: 15px;
}
.sec-banner .top-banner img{
    object-fit: cover;
    object-position: center;
}
.userNameBlock{
    display: flex;
    align-items: center;
    .userDisplayName{
        margin-bottom: 0px;
        font-size: 20px;
        margin-top: 12px;
    }
    ion-icon{
        font-size: 18px;
        margin-top: 12px;
        margin-left: 5px;
    }
}
.menu-icon{
    width: 30px !important;
    height: 30px !important;
}