.inner-users-list ion-item{margin-bottom: 8px;}
.inner-users-list ion-item img{width: 45px;height: 45px;border-radius: 50%;margin-right: 10px;}
.inner-users-list ion-item ion-label{font-size: 0.85rem;}
.inline-flex ion-datetime{padding-left: 1px;padding-right: 5px;}