<audio
    #player
    src="https://www.youtube.com/watch?v=OLUWpt64GMc">
</audio>

<ion-toolbar color="primary" padding>
    <div class="ion-text-center">
        <ion-button (click)="play()" size="large" fill="clear" color="light">
            <ng-container *ngIf="isLoading; else loaded">Loading</ng-container>

            <ng-template #loaded>
                <!-- <ion-icon [name]="isPlaying ? 'pause' : 'play'">
                </ion-icon> -->
                {{ isPlaying ? 'pause' : 'play' }}
            </ng-template>
        </ion-button>
    </div>

    <ion-range
        min="0"
        [max]="duration"
        [value]="currentTime"
        (ionChange)="seek($event)"
        color="light">
        <ion-label color="light" slot="start">{{ currentTime }}</ion-label>
        <ion-label color="light" slot="end">{{ duration }}</ion-label>
    </ion-range>
</ion-toolbar>