// ion-tab-bar{--background: #f7f7f7;height: 48px;}
// ion-tab-button{text-transform:uppercase;color: #555;}
// ion-tab-button.tab-selected{border-bottom: 2px solid #27a69a;color: #27a69a;}
// ion-label{font-size: 0.75rem;}
ion-item{margin-bottom: 5px;border-radius: 4px;--border-radius: 4px;}
ion-button{--border-width: 1px;}
.ios.main_content{--padding-top: 0px;}
.no-data{height: calc(100vh - 150px);}