.top-list{padding: 0.001em;margin: 10px 0.001em;}
.top-list ion-item{--min-height: 65px;background: #FFF;box-shadow: 0px 0px 15px rgba(34, 35, 58, 0.09);}
.top-icon{width: 40px;height: 40px;background: #e9f6f5;border-radius: 50%;display: flex;justify-content: center;align-items: center;position: relative;top: -12px;left: 50%;transform: translateX(-50%);}
.top-icon ion-icon {color: #27a69a;font-size: 1.25rem;}
.top-list ion-item ion-label{margin-left: 5px;padding-top: 0;position: absolute;bottom: 8px;left: 50%;transform: translateX(-50%);margin-left: 0;font-size: 0.625rem;}

ion-item-divider{padding-left: 0;--padding-start: 0;--inner-padding-end: 0;border: none;--border: none;}
ion-item-divider+ion-item-divider{top: 0px;}

.profile_tabs ion-segment span{text-transform: capitalize;font-weight: 400;font-size: 0.625rem;}
ion-item.item-card{margin-bottom: 5px;border-radius: 4px;--border-radius: 4px;}
.ion-padding-vertical{
    --padding-top: var(--ion-padding, 22px);
--padding-bottom: var(--ion-padding, 164px);
padding-top: var(--ion-padding, 4px);
padding-bottom: var(--ion-padding, 27px);
}
.newPostCard{
    ion-card-content{padding-top: 12px;}
}

ion-item-divider{
    ion-segment.profile_tabs.subprofile_tabs{
       .segment-button-checked{background: #27a69a;--indicator-color-checked: #27a69a;color: #FFF;--border-width: 0;}
    }
}
.photoNodata{height: 70px;background: #f7f7f7;}
// .homeRefresher{position: fixed;z-index: 999;height: 100%;}
.top-header{position: relative;}
.main_content{top: 0;}
.userDisplayName{
    margin-left: 115px;
}
.top-list ion-item .top-list .icon-div{
 width: 33.33% !important;
}
.user_details {
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0px 10px #0000002e;
}
.user_time {
    display: flex;
    padding-top: 5px;
}
.top-list .box-shadow-none{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
.user_time .ion-no-padding {
    flex: 0 0 calc(calc(2.7 / var(--ion-grid-columns, 12)) * 100%) !important;
    width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%) !important;
    max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%) !important;
    background: #27A69A;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-right: 8px;
    border-radius: 5px;
}
.count_time{
    margin-bottom: 5px;
}
.three-tabs[_ngcontent-skm-c3] ion-segment[_ngcontent-skm-c3] ion-segment-button[_ngcontent-skm-c3] {
    width: auto !important;
}
::ng-deep{
    .item-inner .item-detail-icon .icon-inner {
        display: none !important;
    }
}
.header-right{
    align-items: center;
}
.item-card{
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.item-header{
    padding: 15px 15px 15px 15px;
}
.post-image, 
.post-video {
    height: calc(100vw - 25px) !important;
    position: relative;
    overflow: hidden;
    padding: 0 0 15px 0;
}
.exclusive-text{
    text-transform: capitalize;
    position: absolute;
    top: 26px;
    right: -60px;
    padding: 5px;
    transform: rotate(45deg);
    color: #fff;
    text-align: center;
    width: 200px;
    background: #27A69A;
}
.img-container{
    padding: 0;
}
.post-slider ion-slide {
    height: 100% !important;
}
.post-slider{
    height: 100%;
    max-height: none !important;
    // border-radius: 20px;
}
.post-content{
    padding: 0px 15px 15px 15px;
}
.item-post{
    margin-bottom: 10px;
}
.video-icon{
    top: 15px;
    left: 15px;
    padding: 1px 4px;
    border-radius: 5px;
    background: #00000029;
    font-size: 1.2rem !important;
}
.primary-color{
    color: #27a69a;
    font-size: 1.5rem;
}
.ABS-info{
    position: absolute;
    right: 15px;
    bottom: 30px;
}
.ABS-info .item-native .item-inner{
    border-style: none !important;
    border-color: #fff !important;
    border: none !important;
}
.clr-blk{
    color: #121212;
}
.top-banner > img{
    object-fit: cover !important; 
}
.menu-icon{
    width: 30px !important;
    height: 30px !important;
}
.userNameBlock{
    display: flex;
    align-items: center;
    .userDisplayName{
        margin-bottom: 0px;
        font-size: 20px;
        margin-top: 12px;
    }
    ion-icon{
        font-size: 18px;
        margin-top: 12px;
        margin-left: 5px;
        color: #222;
    }
}
.post-row{
    background-color: #fff;
    box-shadow: 0 0 3px #0000004a;
    margin-bottom: 8px;
    .post-col{
        display: flex;
        align-items: center;
        padding: 15px;
        .post-avatar{
            width: 45px;
            height: 45px;
            margin-right: 8px;
        }
        .post-text{
            flex: 1;
            margin-right: 8px;
            border-radius: 6px;
            border: 1px solid #a0a0a0;
            padding: 5px 0 0 5px;
        }
        .post-btn{
            background-color: #27A69A;
            border-radius: 4px;
            color: #fff;
            padding: 10px 14px;
        }
    }
}
.user_details{
    background: #e9f6f5;
    .list-person{
        color: #27A69A;
    }
    .user_time{
        justify-content: space-around;
        ion-text{
            font-size: 1.3rem;
            text-align: center;
            line-height: 1;
            p{
                font-size: 1.3rem;
                color: #27a69a;
            }
            span{
                color: #999;
                font-size: 0.75rem;
            }
        }
    }
}
.ionic-divider{
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
    .three-tabs ion-segment ion-segment-button {
        width: auto;
    }
    ion-segment-button{
        min-height: 38px;
        color: #000;
        text-transform: capitalize;
        letter-spacing: 0;
        .ionic-icon{
            font-size: 2rem !important;
        }
        .live-icon{
            padding: 5px 10px;
            background: #555;
            color: #fff;
            border-radius: 20px;
            span{
                font-size: 10px;
                color: #fff;
            }
        }
    }
}


ion-segment-button.segment-button-checked{
    background: #27a69a;
    --indicator-color-checked: #27a69a;
    color: #FFF;
    .live-icon{
        background: #27a69a;
        span{
            color: #fff !important;
        }
    }
}

.program-card {
    display: flex;
    align-items: center;
    padding: 18px 12px;
    width: 100%;
    ion-avatar{
        margin-right: 15px;
    }
    .program-info{
        flex: 1;
        text-align: left;
        h6{
            margin-bottom: 0px;
            margin-top: 0px;
            color: #121212;
        }
        span{
            color: #555;
        }
        p{
            font-size: 12px;
            color: #27a69a;
            margin-top: 3px;
        }
    }
    .ionic-icon{
        color: #555;
        margin-right: 20px;
        margin-left: 15px;
        font-size: 24px;
    }
    .program-type{
        margin-right: 12px;
        margin-left: 12px;
    }
}
.ios.profile_tabs ion-segment-button.segment-button-checked{
    border-top: 2px solid #27a69a !important;
}
.border-top{
    border-top: 1px solid #cecece;
}
.no-mar{
    margin: 0 !important;
    margin-left: 5px !important;
}
.mt-0{
    margin-top: 0 !important;
}