<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" (click)="dismiss()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label>({{followers?.length}}) Followers</ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end"></ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content no_footer">
    <ion-toolbar class="searchbar">
      <ion-searchbar [(ngModel)]="followerSearchTerm"></ion-searchbar>
    </ion-toolbar>
  <div [ngSwitch]="people_tabs">
    <ion-list lines="none" *ngSwitchCase="'followers'">       
      <ion-item *ngFor="let peoplelist of followerFilteredUsers" class="item-card">
          <ion-avatar slot="start" *ngIf="peoplelist.following_user.bios.profile_pic" [routerLink]="peoplelist.following_user.user_type==0 ? ['/tabs/user-profile-view/',peoplelist.following_uid] : ['/tabs/consultant-profile-view/',peoplelist.following_uid]">
            <img src="https://ionicinto.wdipl.com/public/profile_pic/thumb/{{peoplelist.following_user.bios.profile_pic}}">
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="!peoplelist.following_user.bios.profile_pic" [routerLink]="peoplelist.following_user.user_type==0 ? ['/tabs/user-profile-view/',peoplelist.following_uid] : ['/tabs/consultant-profile-view/',peoplelist.following_uid]">
            <img src="../../assets/images/user.jpg">
          </ion-avatar>
          <ion-label [routerLink]="peoplelist.following_user.user_type==0?['/tabs/user-profile-view/',peoplelist.following_uid] : ['/tabs/consultant-profile-view/',peoplelist.following_uid]">
            <h3 class="list-person">{{peoplelist.following_user.user_name}}</h3>
            <span class="list-name" *ngIf="userId != peoplelist.following_uid">following you</span>
          </ion-label>
          <ion-button *ngIf="userId != peoplelist.following_uid"  size="small" slot="end" fill="outline" id="{{peoplelist.following_uid}}" (click)="followUpPeople(peoplelist.following_uid, peoplelist?.following_user?.follow ? 'true' : 'false')" color="{{peoplelist?.following_user?.color}}" [ngClass]='peoplelist?.following_user?.class'>{{peoplelist?.following_user?.follow == true? 'FOLLOWING': 'FOLLOW BACK'}}</ion-button>
      </ion-item>
    </ion-list>  
  </div>
</ion-content>