/node_modules
/platforms
/www
/plugins
/e2e
/_MACOSX
/.vscode
/typings
/resources
/src/vendor
/src/theme
/src/assets
/src/environments
.env
.phpunit.result.cache
.package.json
Homestead.json
Homestead.yaml
npm-debug.log