/node_modules
/platforms/android/app/daemon
/platforms/android/app/native
/platforms/android/app/wrapper
/platforms/android/app/caches
/www


/_MACOSX
/.vscode
/typings



.env
.phpunit.result.cache
.package.json
Homestead.json
Homestead.yaml
npm-debug.log
