.subscriberScreen{}
.publisherScreen{
    width: 100% !important;
    // height: calc(100vh - 145px) !important;
}
.chat-box{
    margin-bottom: 0px !important;
    height: 308px;
}
.item-background-color-chat{
    --background: transparent !important; 
}