<ion-header class="top-header three-block ion-no-padding">
  <ion-list class="top-heading">
    <ion-item>
      <ion-buttons slot="start" (click)="closeModal()">
        <ion-icon ios="ios-arrow-back"  md="md-arrow-back" ></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label>{{nutriDetails?.title}}</ion-label>
    </ion-item>
    <ion-item>
      <div class="icon-right-side">
        <a>
          <ion-icon ios="ios-trash" md="md-trash" (click)="deleteNutrition(nutriDetails.id)"></ion-icon>
        </a>
      </div>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content no_footer">
  <ion-card-content class="ion-no-padding item-content">
    <div class="preview-img" *ngIf="nutriDetails.img_array">
      <!-- <ion-button (click)="slidePrev()" class="slidebtns slideBack">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button> -->
      <ion-slides pager="true" [options]="sliderOpts" class="full-slider mb-10" #mySlider pager="true" (ionSlidesDidLoad)="slidesDidLoad(slider)">
        <ion-slide (click)="showdetails()" *ngFor="let imgpath of nutriDetails.img_array; let i =index;">
          <img src="{{url}}{{imgpath}}" /> 
        </ion-slide>
      </ion-slides>
      <!-- <ion-button (click)="slideNext()" class="slidebtns slideNext">
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </ion-button> -->
    </div> 
</ion-card-content>
  <div class="nutrition-head">
    <p>{{nutriDetails?.description}}</p>
    <div class="nutrition-flex">
      <div class="nutrition-sub">
        <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon> {{nutriDetails?.serving_size}}
      </div>
      <div class="nutrition-sub ion-text-right">
        <!-- <ion-icon ios="ios-time" md="md-time"></ion-icon> {{nutriDetails?.preparation_time }} (hh:mm) -->
        <ion-icon ios="ios-time" md="md-time"></ion-icon> {{nutriDetails?.preparation_time[0]}} hrs {{nutriDetails?.preparation_time[1]}} min
      </div>
    </div>
  </div>
  <ion-card  *ngFor="let item of items">

    <ion-card-header class="more-card-header" (click)="expandItem(item)" >
      <!-- <ion-card-title>More Details</ion-card-title> -->
      <ion-card-title>Nutrition Details</ion-card-title>
      <ion-fab size="small">
        <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
      </ion-fab>
    </ion-card-header>
    <ion-card-content>
   
      <app-expandable expandHeight="300px" [expanded]="item.expanded">
        <ion-list class="details-list" lines="none">
          <ion-item>
            <ion-label>Calories</ion-label>
            <ion-text>{{totalMinerals.cal | number : '1.2-2'}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Carbohydrates</ion-label>
            <ion-text>{{totalMinerals.carbo | number : '1.2-2'}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Proteins</ion-label>
            <ion-text>{{totalMinerals.prot | number : '1.2-2'}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Fats</ion-label>
            <ion-text>{{totalMinerals.fat | number : '1.2-2'}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Sugar</ion-label>
            <ion-text>{{totalMinerals.sug | number : '1.2-2'}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Cholestrol</ion-label>
            <ion-text>{{totalMinerals.chol | number : '1.2-2'}}</ion-text>
          </ion-item>
        </ion-list>
      </app-expandable> 
      
    </ion-card-content>
  </ion-card>
  <ion-list lines="none" class="ingredient-list">
    <ion-list-header>Ingredients</ion-list-header>
    <!-- <ion-item *ngFor="let item of nutriDetails?.ingredient_array; let i=index;">
      <p>{{i+1}}. {{item}}</p>
    </ion-item> -->
    <div class="ingredientItems">
      <p *ngFor="let item of nutriDetails?.ingredient_array; let i=index;">{{item}}</p>
    </div>

  </ion-list>
  <ion-list lines="none" class="instructions-list">
    <ion-list-header>Instructions</ion-list-header>
    <ion-item *ngFor="let item  of nutriDetails?.instruction_array; let i=index;">
      <p>{{i+1}}. {{item}}</p>
    </ion-item>

  </ion-list>

  <ion-list lines="none" class="instructions-list">
    <ion-list-header>Beverages </ion-list-header>
    <div class="ingredientItems">
      <p *ngIf="nutriDetails.bevrage_type == 1">Cofee</p>
      <p *ngIf="nutriDetails.bevrage_type == 2">Milk</p>
      <p *ngIf="nutriDetails.bevrage_type == 3">Fruit Drink</p>    
      <p *ngIf="nutriDetails.bevrage_type == 4">Soda</p>
      <p>{{nutriDetails.bevrage_quantity}} <span *ngIf="nutriDetails.bevrage_quantity == 1">Bottle</span>
      <span *ngIf="nutriDetails.bevrage_quantity == 2">Glass</span>
      <span *ngIf="nutriDetails.bevrage_quantity == 3">Bowl</span>    
      <span *ngIf="nutriDetails.bevrage_quantity == 4">Cup</span></p>
      <p>{{nutriDetails.unit_quantity}} <span *ngIf="nutriDetails.bevrage_unit == 1">Liter</span> <span *ngIf="nutriDetails.bevrage_unit == 2">Milliliter</span></p>
    </div>
    
    <ion-item class="beveragesList">
      
    </ion-item> 
    
    <ion-item >
      
    </ion-item>
    <!-- <ion-item >
      <p *ngIf="nutritionData.form.bevragveinclude" >This beverage should consume with  this nutrition</p>
       </ion-item> -->
  </ion-list>
</ion-content>