<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading">
    <ion-item>
      <ion-buttons slot="start" (click)="closeModal()">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content no_footer">
  <ion-grid>
    <ion-row class="preview-img mb-10">
      <ion-card-content class="ion-no-padding item-content">
        <ion-col size="12" class="ion-no-padding" *ngIf="nutriDetails.img_array">
          <ion-button (click)="slidePrev()" class="slidebtns slideBack">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-button>
          <ion-slides pager="true" [options]="imageSlider" class="full-slider mb-10" #mySlider>
            <ion-slide (click)="showdetails()" *ngFor="let imgpath of nutriDetails.img_array; let i =index;">
              <img src="{{url}}{{imgpath}}" /> 
            </ion-slide>
          </ion-slides>
          <ion-button (click)="slideNext()" class="slidebtns slideNext">
            <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          </ion-button>
        </ion-col> 
    </ion-card-content>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="nutrition-head">
        <ion-text color="primary">
          <h4>{{nutriDetails?.title}}</h4>
        </ion-text>
        <p>{{nutriDetails?.description}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="nutrition-flex">
        <div class="nutrition-sub">
          <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon> {{nutriDetails?.serving_size}}
        </div>
        <div class="nutrition-sub ion-text-right">
          <ion-icon ios="ios-time" md="md-time"></ion-icon> {{nutriDetails?.preparation_time }} (hh:mm)
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="none" class="ingredient-list">
    <ion-list-header class="grey-header">Ingredients</ion-list-header>
    <ion-item *ngFor="let item of nutriDetails?.ingredient_array; let i=index;">
      <p>{{i+1}}. {{item}}</p>
    </ion-item>

  </ion-list>
  <ion-list lines="none" class="instructions-list">
    <ion-list-header class="grey-header">Instructions</ion-list-header>
    <ion-item *ngFor="let item  of nutriDetails?.instruction_array; ">
      <p>{{item}}</p>
    </ion-item>

  </ion-list>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="position-relative ion-no-padding">
        <ion-fab size="small" class="addmore" (click)="expandItem(item)">
          <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </ion-fab>
        <ion-card (click)="expandItem(item)" *ngFor="let item of items">

          <ion-card-header class="more-card-header">
            <ion-card-title>More Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
         
            <app-expandable expandHeight="300px" [expanded]="item.expanded">
              <ion-list class="details-list" lines="none">
                <ion-item>
                  <ion-label>Calories</ion-label>
                  <ion-text>375.68</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Carbohydrates</ion-label>
                  <ion-text>52.28</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Proteins</ion-label>
                  <ion-text>8.98</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Fats</ion-label>
                  <ion-text>15.60</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Calcium</ion-label>
                  <ion-text>0</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Sugar</ion-label>
                  <ion-text>NaN</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Cholestrol</ion-label>
                  <ion-text>34.49</ion-text>
                </ion-item>
              </ion-list>
            </app-expandable> 
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>