<ion-list lines="none">
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>Pooja96</h3>
          <span class="notifi-right">Pooja abc</span>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="following">Following</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>darshan</h3>
          <div class="notifi-right">Darshan rajgor</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="following">Following</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>Sahilamin </h3>
          <div class="notifi-right">Sahilamin</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="following">Following</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>rush1010 </h3>
          <div class="notifi-right">rush1010</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="followback">Follow Back</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>SunitaTester</h3>
          <div class="notifi-right">SunitaTester</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="followback">Follow Back</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>darshanmehta</h3>
          <div class="notifi-right">darshanmehta</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="followback">Follow Back</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>Virajwdi</h3>
          <div class="notifi-right">Virajwdi</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="followback">Follow Back</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>Virajwdi</h3>
          <div class="notifi-right">Virajwdi</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="following">Following</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>Pooja96</h3>
          <div class="notifi-right">Pooja96</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="following">Following</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>darshan</h3>
          <div class="notifi-right">darshan</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="followback">Follow Back</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
  <ion-item class="notification-block">
    <a>
      <ion-avatar slot="start">
        <img
          src="https://intoactive.wdipl.com/user-upload/3/profile-image/app/3_Virajwdi_20190809_superman-moustache-justice-league-600x321.jpg">
      </ion-avatar>
      <ion-label>
        <div class="notifi-left">
          <h3>Sahilamin</h3>
          <div class="notifi-right">Sahilamin</div>
        </div>
        <div class="notifi-right">
          <ion-button size="small" class="followback">Follow Back</ion-button>
        </div>
      </ion-label>
    </a>
  </ion-item>
</ion-list> 