.audio-list{padding: 0;--padding-top: 0;--padding-bottom: 0;}
.audio-list>div{display: flex;}
.audio-list>*{display: inline-block;}
ion-range{--knob-size: 18px;--height: 2px;}
ion-range ion-label{margin-right: 50px;}
ion-fab-button{min-width: 40px;}
ion-fab-button+div{width: 100%;}
ion-fab-button+div>div{display: flex;}
ion-fab-button+div>div +ion-label{color: #FFF;margin-left: 50px;}
.music-spinner{--color: #26a69a;}

.music-timer-fav {
    position: absolute;
    right: 10px;
    top: 28px;
}
.music-timer-fav ion-icon {
    margin: 0 5px;
}
.musicbar {
    padding-right: 50px;
}
.musicWrapper{
    ion-toolbar{--padding-start: 0;--padding-end: 0;
        .audio-listInner{display: block;background: #26a69a;height: 56px;margin-top: 10px;
            .musicbar{
                ion-range{position: absolute;width: 90%;top: 2px;}
            }
            .music-name{margin-top: 20px;margin-left: 10px;padding-left: 50px;
                ion-label{color: #FFF;}
            }            
        }
    }
}