.no-data{height: calc(100vh - 150px);}
::ng-deep{
    button.button-native {
        padding-inline: 0px !important;
        padding-inline-start: 0 !important; 
        padding-inline-end: 0 !important;
        padding-left: 5px;
        padding-right: 5px;
    }
    .fs-small{
        font-size: 0.65rem; 
    }
}

ion-segment-button.fs-small.ios.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated {
    padding-left: 5px;
    padding-right: 5px;
}
.video-card{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.card-head{
    padding: 15px !important;
}
.upcoming-block{
    border-bottom: none;
}

.post-image, 
.post-video {
    height: calc(100vw - 30px) !important;
    padding: 0;
}
.post-image img, .post-video img{
    border-radius: 0px;
}
.video-icon{
    top: 15px !important;
    left: 15px !important;
    padding: 1px 4px ;
    border-radius: 5px;
    background: #00000029;
}
.post-content, .video-content {
    padding: 15px !important;
}