// ion-textarea.form-control{height: calc(1.5em + 5rem + 2px);}
ion-textarea.form-control textarea{height: 100%;padding: 0;}
.thumbnail-slider ion-slide{position: relative;border-radius: 8px;overflow: hidden;}
.thumbnail-slider ion-slide ion-item{position: absolute;width: 100%;height: 100%;--min-height: 100%;--background: transparent;--padding-start: 0;--inner-padding-end: 0;}
.swiper-slide img{width: 100%;height: 100%;object-fit: cover;}
.thumbnail-slider ion-slide ion-radio{margin-top: -50px;}
.no_footer{padding-top: 50px;height: 100vh;}

ion-range{position: absolute;width: 100%;top: -30px;z-index: 99;}
.audio-list{padding: 0 15px !important;}
.audio-list ion-item{--background: transparent;color: #FFF !important;width: auto !important;}
.audio-list ion-item ion-label{margin: 0;margin-right: 20px;overflow: inherit;}
.audio-list ion-item ion-fab-button{width: 25px;height: 25px;--ion-color-base: transparent !important;--box-shadow: none;}
.audio-list ion-item ion-fab-button ion-icon{color: #FFF;}

// ios css
.ios.main_content{padding-top: 0;}

// ion-skeleton-text css
.musiclist ion-item ion-skeleton-text{height: 30px;}
ion-segment-button{position: relative;}
ion-segment-button ion-skeleton-text{position: absolute;height: 100%;margin: 0;width: 95%;}
.video-skeleton{height: 200px;}
p ion-skeleton-text, .radio-list ion-item ion-skeleton-text{margin: 0;height: 20px;}

.btn-close{position: absolute;right: 0; top: 0;z-index: 9;}

.ml-30{margin-left: 30px;}
ion-radio{position: absolute;top:5px}
ion-item{margin-bottom: 5px;--padding-top: 5px;--padding-bottom: 5px;}
