ion-list-header.grey-header{text-transform: capitalize;color: #222;font-weight: 400;font-size: 0.757rem;padding-right: 16px;}
ion-list-header ion-button{margin: 0;border-radius: 4px;}
.item-card{box-shadow: 0px 8px 24px rgba(34, 35, 58, 0.09);background: #FFF;}
.item-header{display: flex;padding: 10px;}
.item-header ion-avatar{width: 34px;min-width:34px;height: 34px;margin-right: 8px;}
.post-timedate p{font-size: 0.757rem;text-transform: capitalize;margin-bottom: 0;color: #676767;font-weight: 400;}
.header-right{display: flex;justify-content: space-between;width: 100%;}
.post-content{padding: 10px;}
.item-post{display: flex;justify-content: space-between;align-items: center;padding: 0;}
.item-post ion-item{--padding-start: 0;--inner-padding-end: 0;--min-height: auto;}
.item-post ion-item>div{display: flex;justify-content: flex-start;align-items: center;margin-right: 15px;font-size: 1.45rem;}
.item-post ion-item:last-child>div{margin-right: 0}
.username-text{margin-right: 3px;}

// skeleton css
.item-post ion-item ion-skeleton-text{width: 32px;height: 18px;}
.item-post ion-item ion-skeleton-text:last-child{margin-left: 5px;}
.post-content p ion-skeleton-text{height: 26px;}

ion-item{margin-bottom: 5px;border-radius: 4px;--border-radius: 4px;}