<ion-content>
  <ion-row>
    <ion-col class="notify-body">
      <ion-text>
        <p class="notify_text background"><span>Background : </span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
        <p class="notify_text"><span>Title : </span>i m on intoactive</p>
        <p class="notify_text"><span>Spaciality : </span>Sports</p>
        <p class="notify_text"><span>Language : </span>English</p>
        <p class="notify_text"><span>Country s: </span>India, Mumbai</p>
        <p class="notify_text"><span>Data : </span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
<ion-button class="modal-close" (click)="dismiss()">
  <ion-icon ios="ios-close" md="md-close"></ion-icon>
</ion-button>