<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" (click)="closeModal()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label>Nutrition</ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end"></ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content">
  <ion-list class="ion-no-padding nutrition-block">
    <ion-list-header class="grey-header green text-white mb-0">French Omelet</ion-list-header>
    <ion-item>
      <ion-card class="item-card">
        <ion-card-content class="ion-no-padding item-content">
          <ion-thumbnail>
            <ion-slides [options]="sliderOpts" class="full-slider">
              <ion-slide>
                <img src="../../assets/images/demo1.jpg"/>
              </ion-slide>  
              <ion-slide>
                <img src="../../assets/images/demo2.jpg"/>
              </ion-slide>  
              <ion-slide>
                <img src="../../assets/images/demo3.jpg"/>
              </ion-slide> 
              <ion-slide>
                <img src="../../assets/images/demo1.jpg"/>
              </ion-slide>  
              <ion-slide>
                <img src="../../assets/images/demo2.jpg"/>
              </ion-slide>  
              <ion-slide>
                <img src="../../assets/images/demo3.jpg"/>
              </ion-slide> 
            </ion-slides>
          </ion-thumbnail>   
          <div class="post-content">
            <p class="mb-10">This French omelet recipe is a classic and versatile favorite. Fill with cheese and ham or change it up by adding leftover cooked vegetables.</p>
            <ion-list class="item-post" lines="none">
              <ion-item>
                <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon> <span>12</span>                
              </ion-item>
              <ion-item>
                <div>
                  <ion-icon ios="ios-time" md="md-time"></ion-icon> <span>02.15 (hh:mm)</span>
                </div>
              </ion-item>
            </ion-list>
            <ion-segment class="top-segment" (ionChange)="nutritionChanged($event)" >
              <ion-segment-button value="ingredients" checked>
                <span>Ingredients</span>
              </ion-segment-button>
              <ion-segment-button value="instruction">
                <span>Instruction</span>
              </ion-segment-button>
              <ion-segment-button value="calories">
                <span>Calories</span>
              </ion-segment-button>
            </ion-segment>
            <div [ngSwitch]="nutritionType">
              <div *ngSwitchCase="'ingredients'"> 
                <ion-list lines="none" class="ingredient-list">
                  <ion-item>
                    <p>2	large EGGS</p>
                  </ion-item>
                  <ion-item>
                    <p>2 Tbsp.	water</p>
                  </ion-item>
                  <ion-item>
                    <p>1/8 tsp.	salt</p>
                  </ion-item>
                  <ion-item>
                    <p>Dash	pepper</p>
                  </ion-item>
                  <ion-item>
                    <p>1 tsp.	butter</p>
                  </ion-item>
                  <ion-item>
                    <p>1/3 cup	filling, such as shredded cheese, finely chopped ham</p>
                  </ion-item>
                </ion-list>
              </div>
              <div *ngSwitchCase="'instruction'"> 
                <ion-list lines="none" class="instructions-list">
                  <ion-item>
                    <p>BEAT eggs, water, salt and pepper in small bowl until blended.</p>
                  </ion-item>
                  <ion-item>
                    <p>HEAT butter in 6 to 8-inch nonstick omelet pan or skillet over medium-high heat until hot. TILT pan to coat bottom. POUR egg mixture into pan. Mixture should set immediately at edges.</p>
                  </ion-item>
                  <ion-item>
                    <p>HEAT butter in 6 to 8-inch nonstick omelet pan or skillet over medium-high heat until hot. TILT pan to coat bottom. POUR egg mixture into pan. Mixture should set immediately at edges.</p>
                  </ion-item>
                  <ion-item>
                    <p>When top surface of eggs is thickened and no visible liquid egg remains, PLACE filling on one side of the omelet. FOLD omelet in half with turner. With a quick flip of the wrist, TURN pan and INVERT or SLIDE omelet onto plate. SERVE immediately.</p>
                  </ion-item>
                </ion-list>
              </div>
              <div *ngSwitchCase="'calories'"> 
                <ion-list class="details-list" lines="none">
                  <ion-item>
                    <ion-label>Calories</ion-label>
                    <ion-text>375.68</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Carbohydrates</ion-label>
                    <ion-text>52.28</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Proteins</ion-label>
                    <ion-text>8.98</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Fats</ion-label>
                    <ion-text>15.60</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Calcium</ion-label>
                    <ion-text>0</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Sugar</ion-label>
                    <ion-text>NaN</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Cholestrol</ion-label>
                    <ion-text>34.49</ion-text>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>          
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-list-header class="grey-header green text-white mb-0">Aloo Paratha</ion-list-header>
    <ion-item>
      <ion-card class="item-card">
        <ion-card-content class="ion-no-padding item-content">
          <ion-thumbnail>
            <ion-slides [options]="sliderOpts" class="full-slider">
              <ion-slide>
                <img src="../../assets/images/demo1.jpg"/>
              </ion-slide>  
              <ion-slide>
                <img src="../../assets/images/demo2.jpg"/>
              </ion-slide>  
              <ion-slide>
                <img src="../../assets/images/demo3.jpg"/>
              </ion-slide> 
              <ion-slide>
                <img src="../../assets/images/demo1.jpg"/>
              </ion-slide>  
              <ion-slide>
                <img src="../../assets/images/demo2.jpg"/>
              </ion-slide>  
              <ion-slide>
                <img src="../../assets/images/demo3.jpg"/>
              </ion-slide> 
            </ion-slides>
          </ion-thumbnail>   
          <div class="post-content">
            <p class="mb-10">Aloo paratha with step by step photos. popular indian breakfast of unleavened whole wheat flat bread stuffed with a spiced potato stuffing.</p>
            <ion-list class="item-post" lines="none">
              <ion-item>
                <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon> <span>12</span>                
              </ion-item>
              <ion-item>
                <div>
                  <ion-icon ios="ios-time" md="md-time"></ion-icon> <span>02.15 (hh:mm)</span>
                </div>
              </ion-item>
            </ion-list>
            <ion-segment class="top-segment" (ionChange)="nutritionChanged2($event)" >
              <ion-segment-button value="ingredients" checked>
                <span>Ingredients</span>
              </ion-segment-button>
              <ion-segment-button value="instruction">
                <span>Instruction</span>
              </ion-segment-button>
              <ion-segment-button value="calories">
                <span>Calories</span>
              </ion-segment-button>
            </ion-segment>
            <div [ngSwitch]="nutritionType2">
              <div *ngSwitchCase="'ingredients'"> 
                <ion-list lines="none" class="ingredient-list">
                  <ion-item>
                    <p>3 to 4 medium potatoes</p>
                  </ion-item>
                  <ion-item>
                    <p>1 to 2 green chilies</p>
                  </ion-item>
                  <ion-item>
                    <p>kashmiri red chilli powder or deghi mirch</p>
                  </ion-item>
                  <ion-item>
                    <p>Garam masala powder</p>
                  </ion-item>
                  <ion-item>
                    <p>1 teaspoon amchur</p>
                  </ion-item>
                  <ion-item>
                    <p>2 to 3 teaspoons finely chopped coriander leaves</p>
                  </ion-item>
                  <ion-item>
                    <p>salt as required</p>
                  </ion-item>
                  <ion-item>
                    <p>oil or ghee</p>
                  </ion-item>
                </ion-list>
              </div>
              <div *ngSwitchCase="'instruction'"> 
                <ion-list lines="none" class="instructions-list">
                  <ion-item>
                    <p>First boil the potatoes and peel them. you can boil or steam the potatoes in a pressure cooker, steamer or electric cooker.</p>
                  </ion-item>
                  <ion-item>
                    <p>Chop and then mash the potatoes with a potato masher.</p>
                  </ion-item>
                  <ion-item>
                    <p>The potatoes should be mashed very well. there should be no lumps or small pieces in it.</p>
                  </ion-item>
                  <ion-item>
                    <p>Now add the chopped green chilies, garam masala powder, red chili powder, dry mango powder and salt.</p>
                  </ion-item>
                  <ion-item>
                    <p>Mix the spice powders and green chilies with the mashed potatoes very well. check the taste and add more salt or red chili powder or dry mango powder as per your taste. </p>
                  </ion-item>
                </ion-list>
              </div>
              <div *ngSwitchCase="'calories'"> 
                <ion-list class="details-list" lines="none">
                  <ion-item>
                    <ion-label>Calories</ion-label>
                    <ion-text>375.68</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Carbohydrates</ion-label>
                    <ion-text>52.28</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Proteins</ion-label>
                    <ion-text>8.98</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Fats</ion-label>
                    <ion-text>15.60</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Calcium</ion-label>
                    <ion-text>0</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Sugar</ion-label>
                    <ion-text>NaN</ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label>Cholestrol</ion-label>
                    <ion-text>34.49</ion-text>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
