ion-thumbnail ion-slides{height: 100%;}
.nutrition-block>ion-item{--padding-start:0;--inner-padding-end: 0}
.item-post ion-item ion-icon{color: #26a69a;}
.item-post ion-item span{font-size: 0.85rem;}
.top-segment{height: 36px;margin-top: 10px;}
.top-segment ion-segment-button{min-height: 36px;}