.item-list ion-list-header ion-icon{font-size: 1.15rem;}
.item-card{padding-left: 10px;}
.list-person{margin-top: 0;font-size: 14px;}
.accept-btn{--background: transparent;--background-focused: transparent;--background-hover: transparent;color: #26a69a;border: 1px solid;}