.swiper-slide{background: #fbfbfb;}
.grey-header{background: #f1f1f1;min-height: 38px;text-transform: uppercase;color: #26a69a;font-weight: 500;margin-bottom: 15px;}
.ingredient-list ion-item, .instructions-list ion-item{--min-height:auto}
.ingredient-list ion-item p, .instructions-list ion-item p{width: 100%;border-bottom: 1px solid whitesmoke;padding-bottom: 5px;margin-bottom: 5px;}
.ingredient-list ion-item:last-child p, .instructions-list ion-item:last-child p{border-bottom: none;padding-bottom: 0;margin-bottom: 0;}
.nutrition-head h4{font-size: 1.15rem;font-weight: 400;color: #000;}
.nutrition-head p{color: #333;}
.nutrition-sub{font-size: 0.85rem;display: flex;align-items: center;margin-right: 20px;}
.nutrition-sub:last-child{margin-right: 0;}
.nutrition-sub ion-icon{font-size: 1rem;margin-right: 3px;color: #26a69a;}
.nutrition-flex{display: flex; align-items: center;}
.more-card-header{display: flex; justify-content: space-between;align-items: center;height: 38px;padding: 0 10px;background: #26a69a;}
.more-card-header ion-card-title{font-size: .85rem;color: #FFF;}
.more-card-header+ion-card-content{padding: 0;}
// .addmore{position: absolute;right: 10px;top: 10px;color: #FFF;font-size: 1.5rem;z-index: 99;width: 38px;height: 38px;display: flex;justify-content: center;align-items: center;cursor: pointer;}
.details-list ion-item{padding-top: 5px;--min-height: auto;font-size: 0.85rem;}
.details-list ion-item ion-label{margin: 0;}
.position-relative{position: relative;}