.upcoming-card{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 20px;
}
span.list-name.d-block {
    margin-bottom: 5px;
}
.action-links {
    margin-left: 10px;
}