.sticky-footer .send-img{width: 26px;}
.users-list img{width: 36px;height: 36px;object-fit: cover;border-radius: 50%;margin-left: -10px;}
.users-list img:first-child{margin-left: 0;}

.equip_items .swiper-slide img {
    height: 150px;
}
.equip_items .swiper-wrapper {
    margin-bottom: 25px;
}
