<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" (click)="closeModal('')">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label>{{programData?.programTitle}}</ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end">
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content">
  <form class="nutrition-form ion-padding-horizontal">
    <ion-list>
      <!-- <ion-item>
        <ion-label>Enter Specific Time</ion-label>
        <ion-text class="inline-flex">{{calendarData.getHours()}} : <ion-select placeholder="minutes" name="minutes"
            [(ngModel)]="minutes">
            <ion-select-option *ngFor="let hour of vsd let i=index;" value="{{i}}" [disabled]="hour">
              {{('0'+i).slice(-2)}}</ion-select-option>
          </ion-select> Minutes</ion-text>
      </ion-item> -->
      <ion-item *ngIf="programData?.programType!=6" class="durationItem">
        <ion-label>Type Duration (in Minutes)</ion-label>
        <ion-input placeholder="Minutes" name="duration" type="number" [(ngModel)]="duration"></ion-input>
      </ion-item>
    </ion-list>
    <h6 class="repeatedHeading">Repeated</h6>
    <ion-radio-group value="calendar" class="radio-group">
      <ion-item>
        <ion-label>Daily</ion-label>
        <ion-radio slot="start" value="clone" (click)="multiple()"
          checked="{{repetative==1? true: false}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Weekly</ion-label>
        <ion-radio slot="start" value="weekly" (click)="basic()"
          checked="{{repetative==2 ? true: false}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div *ngIf="programData?.programType==6">
      <label> Select Video </label>
      <ion-col size="12" class="ion-no-padding">
        <ion-segment scrollable="true" class="ion-no-padding nutriimages-list">
          <ion-segment-button *ngFor="let preview of videoList">
            <div class="thumb-checkbox">
              <ion-checkbox [(ngModel)]="preview.sele" name="preview.id" value="preview.id" slot="start">
              </ion-checkbox>
            </div>
            <img *ngIf="preview?.thumb_path" src="{{storagePath}}{{preview?.thumb_path}}" alt="path" />
            <img *ngIf="!preview?.thumb_path" src="../../../assets/images/video.png" />
            <ion-label>{{preview.title}}</ion-label>
          </ion-segment-button>
        </ion-segment>

      </ion-col>
      <ion-col size="12" class="ion-no-padding" *ngIf="videoList.length==0">
        <ion-slide class="no_imagedata">No post added yet!!!</ion-slide>
      </ion-col>
    </div>

  </form>
  <div *ngIf="repetatedDateCopy.length>0">
    <div class="ion-padding-horizontal">
    <ion-list>            
        <ion-item class="ion-no-padding ion-margin-vertical">
          <ion-label>Add Bonus Video, Nutrition</ion-label>
          <ion-datetime value="" display-timezone="utc"  (ionChange)="addExtraDay($event)"></ion-datetime>
        </ion-item>
      </ion-list> 
    </div>
    <ion-list *ngFor="let date of repetatedDateCopy let i = index">
      <ion-list-header class="ion-padding-horizontal green text-white">
        {{date.date | date :'medium'}}
        <div>
          <ion-icon ios="ios-construct" md="md-construct" (click)="addEquipments2(1,date.equipments,i)"></ion-icon>
          <ion-icon ios="ios-nutrition" md="md-nutrition" class="ion-margin-start" (click)="addEquipments2(2,date.nutrition_id,i)">
          </ion-icon>
          <ion-icon ios="ios-videocam" md="md-videocam" class="ion-margin-start" (click)="addVideo(item,i)"></ion-icon>
          <ion-icon ios="ios-create" md="md-create" class="ion-margin-start" [routerLink]="['/add-program']"></ion-icon>
        </div>
      </ion-list-header>
      <ion-item>
        <ion-label>Equipments :</ion-label>
        <div class="users-list" *ngIf="date?.equipments.length>0;else no_equipment">
          <img src="../../assets/images/demo1.jpg" *ngFor="let item of date?.equipments" />
        </div>
        <ng-template #no_equipment>No Equipment Selected</ng-template>
      </ion-item>
      <ion-item>
        <ion-label>Nutritions :</ion-label>
        <div class="users-list" *ngIf="date.nutrition_id.length>0;else no_nutrition">
          <img src="../../assets/images/demo2.jpg" *ngFor="let item of date.nutrition_id" />
        </div>
        <ng-template #no_nutrition>No Nutrition Selected</ng-template>
      </ion-item>
      <ion-item>
        <ion-label>Videos :</ion-label>
        <div class="users-list" *ngIf="date?.video;else no_videos">
        
          <img src="../../assets/images/demo2.jpg" />
        </div>
        <ng-template #no_videos>No videos Selected</ng-template>
      </ion-item>      
      <ion-item class="descriptionItem">
        <ion-textarea placeholder="Enter Description" (ionChange)="detailsUpdate($event ,item?.id)"
            value="{{item?.description}}"></ion-textarea>
      </ion-item>
    </ion-list>    
  </div>

</ion-content>
<ion-footer class="sticky-footer">
  <ion-button [disabled]="isLoading" expand="full" (click)="onSubmit()"
    class="green ion-text-uppercase ion-no-margin full-height">Save</ion-button>
</ion-footer>