.inline-flex ion-datetime{padding-left: 1px;padding-right: 5px;}
.radio-group{display: flex;}
.radio-group ion-item{--background: transparent;--inner-border-width: 0 0 0 0;}
.radio-group ion-item ion-radio{margin-right: 10px;}

.nutriimages-list ion-label{font-size: 0.75rem;margin: 3px 0;text-transform: capitalize;letter-spacing: 0;font-weight: 400;display: block;color: #444;}
.video-card{box-shadow: 0px 4px 10px rgba(34, 35, 58, 0.09);}
ion-slides{background: transparent;padding: 0 5px;}
.nutriimages-list ion-segment-button{width: 32%;border: none;padding: 0;--padding-start: 0;--padding-end: 0;    margin: 0 3px;display: flex;justify-content: center;align-items: center;background: #f7f7f7;border-radius: 4px;}
.nutriimages-list ion-segment-button:first-child{margin-left: 0;}
.nutriimages-list ion-segment-button img{object-fit: contain;max-width: 100%;}
.nutriimages-list .segment-button-checked{background: #eaeaea;--color-checked: transparent;}
.nutriimages-list .thumb-checkbox{position: absolute;width: 100%;height: 100%;}
.nutriimages-list .thumb-checkbox ion-checkbox{opacity:0;width:100%;height:78px;padding:0 0}
// .checkboxThumb{display: contents;}
.checkboxThumb::after{content: '';width: 16px;height: 16px;border: 2px solid #7d7d7d;display: block;border-radius: 50%;position: absolute;top: 5px;left: 5px;}
.nutriimages-list .thumb-checkbox ion-checkbox.checkbox-checked{opacity:1;--background-checked:transparent;--border-color-checked:transparent;--size:0;--checkmark-color:transparent}
.nutriimages-list .thumb-checkbox ion-checkbox.checkbox-checked:after{content:'';width:20px;height:20px;background:#26a69a;display:block;border-radius:50%;position:absolute;top:5px;left:5px}
.item-list ion-list-header ion-icon{font-size: 1.15rem;}

.users-list{--min-height: auto;display: flex;align-items: center;margin: 6px 0;}
.users-list img{width: 36px;height: 36px;object-fit: cover;border-radius: 50%;margin-left: -10px;}
.users-list img:first-child{margin-left: 0;}
.users-list ion-label{width: 100px;}
.view-all{width:36px;height:36px;max-width: 36px;text-align:center;background:#f1f0f0;border-radius:50%;display:flex;justify-content:center;align-items:center;margin: 0;margin-left: -10px;}

ion-list{
    .durationItem{--padding-end: 0;
        ion-input{position: relative;top: 2px;text-align: right;}
    }
}

.program-card{width: 100%;}
ion-item ion-list{width: 100%;}
.item-list > ion-item{--inner-padding-end: 0;}
.thumb-list {
    ion-item{
        ion-label{
    position: absolute;
    bottom: 0;
    margin: 0;
    background: rgba(38, 166, 154, 0.50);
    width: 100%;
    color: #FFF;
    padding: 5px;
    text-align: center;
}
}
}
.fixed {
    position: fixed !important;
    z-index: 9 !important;
    background-color: #fff !important;
}
.margin-top-md{
    margin-top: 20%;
}
.margintop-45{
    margin-top: 45%;
}
.margin-15{
    margin: 15px 0px !important;
}
.mb-0{
    margin-bottom: 0 !important;
}
ion-list{padding-top: 0 !important;padding-bottom: 0 !important;
    ion-item{font-size: 0.875rem;--padding-end: 16px;padding-inline-end: 0;--inner-padding-end: 0;--min-height: 44px;--border-color: whitesmoke;}
    .descriptionItem{
        ion-item{padding: 0;}
    }
}
.repeatedHeading{font-weight: 400;font-size: 15px;margin-bottom: 0;}
.infoIcon{position: absolute;
    top: 0;
    right: 0;
    --background: #26a69a;
    --box-shadow: none;
    color: #FFF;
    --padding-start: 0;
    --padding-end: 0;
    height: auto;
    font-size: 16px;
    margin: 3px;
    z-index: 9;--border-radius:50%}