.thumbnail-slider ion-slide{position: relative;border-radius: 8px;overflow: hidden;}
.thumbnail-slider ion-slide ion-item{position: absolute;width: 100%;height: 100%;--min-height: 100%;--background: transparent;--padding-start: 0;--inner-padding-end: 0;}
.swiper-slide img{width: 100%;height: 100%;object-fit: cover;}
.thumbnail-slider ion-slide ion-radio{margin-top: -50px;}

// hitesh css strt
.video-preview-ion-list{
    display: flex;
    justify-content: space-around;
}