ion-tab-button:hover ion-icon{color:#27a69a}
.tab-selected ion-icon{color:#27a69a}
ion-tab-button .floating-btn{width:4em;height:4em;border-radius:50%;background-color:#27a69a;color:#fff;text-align:center;outline:0;margin:0;box-shadow:0 0 16px #444;display:flex;justify-content:center;align-items:center}
ion-tab-button .floating-btn ion-icon{color: #FFF;font-size: 1.75em;}