<ion-header>
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label >Program List</ion-label>
    </ion-item>
   
  </ion-list>
</ion-header>

<ion-content>
  <ion-item class="item-card" *ngFor="let item of programList">
    <ion-avatar slot="start" [routerLink]="['/program-view',item.id]">
      <img src="../../../assets/images/demo2.jpg" *ngIf="item?.image_path">
      <img src="../../../assets/images/loading.jpg" *ngIf="!item?.image_path">
    </ion-avatar>
    <ion-label [routerLink]="['/program-view',item.id]">
      <h3 class="list-person">{{item.title}}</h3>
      <span class="list-name d-block">{{item.type_id}}</span>
      <span class="list-name">By: {{item?.program_user?.user_name}}</span>
      <p class="text-green">{{item?.converted |date:'medium'}}</p>
    </ion-label>
    <div class="action-links" slot="end">
      <ion-icon ios="ios-more" md="md-more" (click)="requestedDropdown(item.id)"></ion-icon>
      <ion-icon ios="ios-restaurant" md="md-restaurant" (click)="showSchedule(item)"></ion-icon>

    </div>
  </ion-item>
  
</ion-content>
