<ion-content>
  <ion-row>
    <ion-col class="notify-body">
      <ion-text>
        <p class="notify_text"><span>Speciality : </span>{{specialities}}</p>
        <p class="notify_text"><span>Secodary Speciality : </span>{{secondarySpecialities}}</p>
        <p class="notify_text"><span>Language : </span>{{language}}</p>
        <p class="notify_text"><span>Country : </span>{{countryName}}</p>
        <p class="notify_text"><span>State : </span>{{stateName}}</p>
        <p class="notify_text"><span>City : </span>{{cityName}}</p>
        <p class="notify_text"><span>About Me : </span>{{aboutMe}}</p> 
        <p class="notify_text"><span>More About Me : </span>{{moreAboutMe}}</p>
        <p class="notify_text"><span>Class Type : </span>{{className}}</p>
        
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
<ion-button class="modal-close" (click)="dismiss()">
  <ion-icon ios="ios-close" md="md-close"></ion-icon>
</ion-button>