<ion-header class="top-header three-block ion-no-padding">
  <ion-list class="top-heading">
    <ion-item>
      <ion-buttons class="ion-no-margin" *ngIf="!showPreview" [routerLink]="['/tabs/consultant-profile']">
        <ion-icon ios="ios-arrow-back"  md="md-arrow-back" ></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label>Nutrition List</ion-label>
    </ion-item>
    <ion-item>
      <div class="icon-right-side">
        <!-- <a>
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </a> -->
        <a [routerLink]="['/nutrition']">
          <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </a>
      </div>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content no_footer">
  <div *ngIf="nutritionList">
    <ion-card class="nutritionCard">
      <ion-card-header class="grey-header green text-white">Breakfast</ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-segment scrollable="true" class="ion-no-padding nutriimages-list">
          <ion-segment-button *ngFor="let item of nutritionList  | filter:'BreakFast':'type'" (click)="showdetails(item)">
            <div class="checkboxThumb">
              <div *ngIf="!item.empty " class="item-image">
                <img src="{{url}}{{item?.img_array[0]}}" *ngIf="item?.image_path" />
                <img src="../../assets/images/nutrition2.png" *ngIf="!item?.image_path" style="width:auto" />
              </div>
              <div class="item-label">
                <ion-label>{{item?.title}}</ion-label>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data item-no-image">
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No BreakFast</p>
              </div>
            </div>
            <!-- <ion-button ><ion-icon name="information-circle"></ion-icon></ion-button> -->
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>
    <ion-card class="nutritionCard">
      <ion-card-header class="grey-header green text-white">Brunch</ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-segment scrollable="true" class="ion-no-padding nutriimages-list">
          <ion-segment-button *ngFor="let item of nutritionList  | filter:'Brunch':'type'" (click)="showdetails(item)">
            <div class="checkboxThumb">
              <div *ngIf="!item.empty" class="item-image">
                <img src="{{url}}{{item?.img_array[0]}}" *ngIf="item?.image_path" />
                <img src="../../assets/images/nutrition2.png" *ngIf="!item?.image_path" style="width:auto" />
              </div>
              <div class="item-label">
                <ion-label>{{item?.title}}</ion-label>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data item-no-image">
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No Brunch</p>
              </div>
            </div>
            <!-- <ion-button ><ion-icon name="information-circle"></ion-icon></ion-button> -->
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>
    <ion-card class="nutritionCard">
      <ion-card-header class="grey-header green text-white">Lunch</ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-segment scrollable="true" class="ion-no-padding nutriimages-list">
          <ion-segment-button *ngFor="let item of nutritionList  | filter:'Lunch':'type'" (click)="showdetails(item)">
            <div class="checkboxThumb">
              <div *ngIf="!item.empty" class="item-image">
                <img src="{{url}}{{item?.img_array[0]}}" *ngIf="item?.image_path" />
                <img src="../../assets/images/nutrition2.png" *ngIf="!item?.image_path" style="width:auto" />
              </div>
              <div class="item-label">
                <ion-label>{{item?.title}}</ion-label>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data item-no-image">
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No Lunch</p>
              </div>
            </div>
            <!-- <ion-button ><ion-icon name="information-circle"></ion-icon></ion-button> -->
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>
    <ion-card class="nutritionCard">
      <ion-card-header class="grey-header green text-white">Snacks</ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-segment scrollable="true" class="ion-no-padding nutriimages-list">
          <ion-segment-button *ngFor="let item of nutritionList  | filter:'Snacks':'type'" (click)="showdetails(item)">
            <div class="checkboxThumb">
              <div *ngIf="!item.empty" class="item-image">
                <img src="{{url}}{{item?.img_array[0]}}" *ngIf="item?.image_path" />
                <img src="../../assets/images/nutrition2.png" *ngIf="!item?.image_path" style="width:auto" />
              </div>
              <div class="item-label">
                <ion-label>{{item?.title}}</ion-label>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data item-no-image">
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No Snacks</p>
              </div>
            </div>
            <!-- <ion-button ><ion-icon name="information-circle"></ion-icon></ion-button> -->
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>
    <ion-card class="nutritionCard">
      <ion-card-header class="grey-header green text-white">Dinner</ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-segment scrollable="true" class="ion-no-padding nutriimages-list">
          <ion-segment-button *ngFor="let item of nutritionList  | filter:'Dinner':'type'" (click)="showdetails(item)">
            <div class="checkboxThumb">
              <div *ngIf="!item.empty" class="item-image">
                <img src="{{url}}{{item?.img_array[0]}}" *ngIf="item?.image_path" />
                <img src="../../assets/images/nutrition2.png" *ngIf="!item?.image_path" style="width:auto" />
              </div>
              <div class="item-label">
                <ion-label>{{item?.title}}</ion-label>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data item-no-image">
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No Dinner</p>
              </div>
            </div>
            <!-- <ion-button ><ion-icon name="information-circle"></ion-icon></ion-button> -->
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!nutritionList">
    <ion-card class="item-card" *ngFor="let skeleton of [].constructor(5)">
      <ion-skeleton-text class="grey-header green" animated></ion-skeleton-text>
      <ion-card-content class="ion-no-padding">
        <ion-segment scrollable="true" class="ion-no-padding nutriimages-list">
          <ion-segment-button>
            <ion-skeleton-text animated style="width: 130px;height: 85px;"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-segment-button>
          <ion-segment-button>
            <ion-skeleton-text animated style="width: 130px;height: 85px;"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-segment-button>
          <ion-segment-button>
            <ion-skeleton-text animated style="width: 130px;height: 85px;"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-segment-button>
          <ion-segment-button>
            <ion-skeleton-text animated style="width: 130px;height: 85px;"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>