ion-card{margin-left: 0;margin-right: 0;}
ion-card:first-child{margin-top: 0;}
.grey-header{padding: 10px;}
.inner-slider{
    ion-slide{height: auto;flex-direction: column;background: transparent;
        div{width: 128px;height: 128px;
            img{}
        }
    }
}
.inner-slider ion-slide ion-label{font-size: 0.85rem;}
.video-card{box-shadow: 0px 4px 10px rgba(34, 35, 58, 0.09);}
ion-slides{background: transparent;padding: 0 5px;}
.swiper-slide img{border-radius: 6px;height: 85px;margin-bottom: 5px;}
.nutritionCard{border-radius: 0;box-shadow: none;border-bottom: 5px solid #f7f7f7;margin-bottom: 0;margin-top:0;
    ion-card-header{color: #FFF;background: #26a69a;height: 45px;line-height: 45px;padding: 0 16px;}
}