.login-form{
    ion-radio-group{
        ion-item{margin-bottom: 0;}
    }
    ion-item{
        ion-label{font-size: 0.875rem;}
    }
    .termsBox{display: flex;margin-bottom:10px;margin-top:10px;
        ion-checkbox{margin-right: 10px;}
        ion-text{text-align: left;line-height: 1.5;}
    }
}
.fs-2{
    font-size: 2rem !important;
}