.terms-list{    padding: 0;
    --background: transparent;
    background: transparent;
    display: flex;
    align-items: baseline;}
    .terms-list ion-item{
        --padding-start: 0;
        --padding-end: 0;
        --min-height: auto;
    }
    .terms-list ion-item:first-child{width: 30px;}
    ion-radio-group{
        ion-item{margin-bottom: 0;}
    }