ion-input{color: #222 !important;}
.btn-add{position: absolute;right: 0;}
.ingredientsBlock{
    ion-list{
        ion-button{bottom: 10px;}
    }
    ion-button{top: 78px;}
}

.instructionsBlock{
    ion-list{
        ion-button{bottom: 10px;}
    }
    ion-button{top: 38px;}
}
ion-segment.top-segment{height: 40px;
    ion-segment-button{min-height: 40px;
        ion-label{margin: 0;color: #000;font-size: 0.75rem;}
    }
}
ion-slides{
    ion-slide{
        img{height: 250px;width: 100%;object-fit: cover;object-position: center;}
        ion-icon{position: absolute;right: 15px;top: 0;font-size: 28px;color: red;}
        div{height: 100%;display:flex;height: 275px;
            img{object-fit: contain;}
            ion-icon{position: absolute;right: 8px;top: 8px;width: 24px;height: 24px;}
        }
    }
}
ion-item.floatingItem{
	ion-label{color:#a5a4a4}
	ion-textarea{margin-top:0}
}
// .preTimeBox{display: flex;align-items: center;justify-content: flex-end;}
.nutrition-box{
    display: flex;
    align-items: center;
}
.img-container{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 20px;
}
.nutrition-title{
    font-size: 1rem;
    color: #121212;
    font-weight: 500;
}
.nutrition-container{
    flex: 1;
}
.nutrition-details{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.nutrition-left{
    display: flex;
    flex: 1;
}
.nutrition-right span{
    font-size: 13px;
    color: rgb(139, 139, 139);
}
.nutrition-quantity{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.nutrition-input{
    border: 0.5px solid #eee;
    border-radius: 5px;
    max-width: 50px;
    height: 30px;
    margin: 0 5px;
}
.nutrition-select{
    border: 0.5px solid #eee;
    border-radius: 5px;
    min-width: 100px;
    height: 30px;
    font-size: 13px;
}
.closeicon{
    color: rgb(139, 139, 139);
}
