<ion-header>
  <ion-toolbar>
    <ion-title>DateTest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>Date Test</ion-item>  
  
  <a [routerLink]="['/broadcaster']" class="foll-people">
   Go to Bradocaster
  </a>
  <a [routerLink]="['/starting-slide']" class="foll-people">
    Go to Starting
   </a>
   <a [routerLink]="['/musicplayer']" class="foll-people">
    Music Player
   </a>
  <ion-item >Date Test</ion-item>
  <ion-list *ngIf="dateLoad ">  Db Date: {{dateLoad.db_date}}</ion-list>


  <ion-item>
    <ion-label>Music</ion-label>
    <ion-select  >
      <ion-select-option>Alice in Chains</ion-select-option>
      <ion-select-option>Green Day</ion-select-option>
      <ion-select-option  >Nirvana</ion-select-option>
      <ion-select-option>Pearl Jam</ion-select-option>
      <ion-select-option [selected]="sel ? 'true' :  'false'">Smashing Pumpkins</ion-select-option>
      <ion-select-option>Soundgarden</ion-select-option>
      <ion-select-option>Stone Temple Pilots</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
