.top-header ion-list{background: transparent;}
.top-header ion-list ion-item{--background: transparent;border: none;color: #FFF;}
.top-header ion-buttons{color: #FFF;}
.top-header ion-icon{color: #FFF !important;}
