<ion-content class="sec-login" ion-padding>
  <ion-row>
    <ion-col class="ion-padding ion-text-center">
      <div class="login-logo ion-text-center">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" [routerLink]="['/forgot']" class="back-icon"></ion-icon>
        <img src="../../../assets/images/logo.png">  
      </div> 
      <ion-label class="text-white">Please enter your unique code and set your new password</ion-label> 
      <form class="login-form mt-20" [formGroup]="loginForm" (ngSubmit)="onSubmit()">             
        <ion-item class="ion-no-padding">
          <ion-input type="number" placeholder="Unique Code" formControlName="ucode"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.ucode">
          <span class="error-message" *ngIf="(submitted || loginForm.get('ucode').touched) && loginForm.get('ucode').hasError(validation.type)">{{ validation.message }}</span>
        </ng-container>

        <ion-item class="ion-no-padding">
          <ion-input  placeholder="New Password" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" [type]="npwd ? 'text' : 'password'"></ion-input>
          <span toggle="#newPassword-field" class="change-toggle-password">
            <ion-icon color="light" [name]="npwd ? 'eye' : 'eye-off'" (click)="npwd=!npwd"></ion-icon>
          </span>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.newPassword">
          <span class="error-message" *ngIf="(submitted || loginForm.get('newPassword').touched) && loginForm.get('newPassword').hasError(validation.type)">{{ validation.message }}</span>
        </ng-container>

        <ion-item class="ion-no-padding">
          <ion-input type="password" placeholder="Confirm Password" formControlName="cPassword"></ion-input>
          <span toggle="#newPassword-field" class="change-toggle-password">
            <ion-icon color="light" [name]="npwd ? 'eye' : 'eye-off'" (click)="npwd=!npwd"></ion-icon>
          </span>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.cPassword">
          <span class="error-message" *ngIf="(submitted || loginForm.get('cPassword').touched) && loginForm.get('cPassword').hasError(validation.type)">{{ validation.message }}</span>
          <ion-input placeholder="" type="hidden" formControlName="uemail" ></ion-input>
        </ng-container>  
        <ion-button (ngSubmit)="onSubmit()" (click)="onSubmit()" expand="block" class="green ion-text-uppercase mt-20">Reset Password</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>