.item-list ion-list-header ion-icon{font-size: 1.15rem;}

.users-list{--min-height: auto;display: flex;align-items: center;margin: 6px 0;}
.users-list img{width: 36px;height: 36px;object-fit: cover;border-radius: 50%;margin-left: -10px;}
.users-list img:first-child{margin-left: 0;}
.users-list ion-label{width: 100px;}
.view-all{width:36px;height:36px;max-width: 36px;text-align:center;background:#f1f0f0;border-radius:50%;display:flex;justify-content:center;align-items:center;margin: 0;margin-left: -10px;}

.program-card{width: 100%;}
ion-item ion-list{width: 100%;}
.item-list > ion-item{--inner-padding-end: 0;}