<ion-refresher class="component-refresher" slot="fixed" (ionRefresh)="postRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<div  *ngIf="gotData">
  <div *ngIf="!myPosts?.length > 0" class="no-data" style="height: calc(100vh - 220px);">
    <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
    <p>No post added yet!!!</p>
  </div>
  <ion-card class="item-card"  *ngFor="let post of myPosts">
    <span  >    
    <ion-card-header class="item-header" >
      <ion-avatar>
        <img src="{{profilePicUrl}}{{userData?.userData?.bios?.profile_pic}}" *ngIf="userData?.userData?.bios?.profile_pic">
        <img src="profileDefaultImage" *ngIf="!userData?.userData?.bios?.profile_pic">
      </ion-avatar>
      <div class="header-right">
        <ion-label>
          <ion-card-title>{{userData.userData.user_name}}</ion-card-title>
          <ion-card-subtitle>{{userData.userData.location}}</ion-card-subtitle>
        </ion-label>
        <ion-text class="post-timedate">
          <p class="post-date">{{post?.created_at}}</p>
        </ion-text>
      </div>
    </ion-card-header>
    <ion-card-content class="ion-no-padding item-content">
      <ion-thumbnail *ngIf="post['image_post']['0']['thumb_path']">
        <ion-slides [options]="imageSlider" class="post-slider" [pager]="true">
          <ion-slide *ngFor="let imgpath of post['image_post']['0']['thumb_path']; let i =index;">
            <img (click)="openViewer(post['image_post']['0']['image_path'][i])" src="{{url}}{{imgpath}}" alt="{{imgpath}}" />
          </ion-slide>
        </ion-slides>
      </ion-thumbnail>
      <div class="post-content">
        <!-- -------  Description post with  post type = 8 -->
        <div *ngIf="post?.post_type==8">
          <p class="mb-10" *ngIf="post['image_post']['0'].description && post['image_post']['0'].description.length < 30"><span
              class="username-text text-green">{{userData.userData.user_name}}</span>{{post['image_post']['0'].description.substr(0, 100)}}
          </p>
          <p class="mb-10" *ngIf="post['image_post']['0'].description && post['image_post']['0'].description.length > 29 && expanded !=  post.id">
            <span
              class="username-text text-green">{{userData.userData.user_name}}</span>{{post['image_post']['0'].description.substr(0, 29)}}
            <span (click)="expanded = post.id"
              class="text-green">{{expanded==  post.id ?'View less':'View more'}}</span></p>
          <p class="mb-10" *ngIf="expanded ==  post.id "><span
              class="username-text text-green">{{userData.userData.user_name}}</span>{{post['image_post']['0'].description}}
            <span (click)="expanded = 0" class="text-green">{{expanded==  post.id ?'View less':'View more'}}</span></p>
        </div>
        <!-- ------- ends here   post type = 8 -->
        <ion-list class="item-post" lines="none">
          <ion-item>
            <div [routerLink]="['/comments',post.id]" *ngIf="post?.disable_comment==0">
              <span class="d-flex">
                <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon> 
                <span>{{post.total_comments.length}}</span>
              </span>
            </div>
            <div (click)="liked(post.id,post.liked)" class="{{ post.liked ?'active':'inactive' }}">
              <ion-icon class="like-icon" ios="ios-heart" md="md-heart"></ion-icon> 
              <span>{{post?.count}}</span>
            </div>
          </ion-item>
          <!-- --------------- bookmark for only  othepost on own -------->
          <ion-item *ngIf="post?.post_type==1 && consultID">         
              <div (click)="bookmarked(post?.id , post?.bookmarked , 1)" class="{{ post?.bookmarked ?'active':'inactive' }}">
                <ion-icon class="active-icon" ios="ios-bookmark" md="md-bookmark"></ion-icon>
              </div>           
          </ion-item>

          <ion-item  *ngIf="!consultID">         
            <div (click)="showOptions(post?.id ,post?.disable_comment )">
              <ion-icon ios="ios-more" md="md-more"></ion-icon>
            </div>           
          </ion-item>
        </ion-list>
         <!-- --------------- bookmark ends here------------ -->
        <!-- -------  Description for  I-M-A-G-E  post with  post type = 1-->
        <div *ngIf="post?.post_type==1">
          <p *ngIf="post['image_post']['0'].description && post['image_post']['0'].description.length < 30"><span
              class="username-text text-green">{{userData.userData.user_name}}</span>{{post['image_post']['0'].description.substr(0, 100)}}
          </p>
          <p
            *ngIf="post['image_post']['0'].description && post['image_post']['0'].description.length > 29 && expanded !=  post.id">
            <span
              class="username-text text-green">{{userData.userData.user_name}}</span>{{post['image_post']['0'].description.substr(0, 29)}}
            <span (click)="expanded = post.id"
              class="text-green">{{expanded==  post.id ?'View less':'View more'}}</span></p>
          <p *ngIf="expanded ==  post.id "><span
              class="username-text text-green">{{userData.userData.user_name}}</span>{{post['image_post']['0'].description}}
            <span (click)="expanded = 0" class="text-green">{{expanded==  post.id ?'View less':'View more'}}</span></p>
        </div>
        <!-- ------- ends here   post type = 1-->
      </div>
    </ion-card-content>  
  </span>
  </ion-card>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>  
</div>
<div *ngIf="!gotData">
  <ion-card class="video-card">
    <ion-card-header class="card-head upcoming-block">
      <ion-skeleton-text animated class="card-thumb"></ion-skeleton-text>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <div class="video-content">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="video-card">
    <ion-card-header class="card-head upcoming-block">
      <ion-skeleton-text animated class="card-thumb"></ion-skeleton-text>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <div class="video-content">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </ion-card-content>
  </ion-card>  
</div>