<ion-header>
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" [routerLink]="['/tabs/consultant-profile']">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <!-- <ion-label>{{programDetail?.title}}</ion-label> -->
      <ion-label>{{ viewTitle }}</ion-label>
    </ion-item>
    <ion-item slot="end">
      <!-- <ion-label>{{programDetail?.title}}</ion-label> -->
      <!-- <ion-label>March 2022</ion-label> -->
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <calendar *ngIf="scheduleProgram == 'program'" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" startHour="0"
  endHour="24" step="1" (onTitleChanged)="onViewTitleChanged($event)"  (onTimeSelected)="onTimeSelected($event)" class="calendar-table swiper-container"></calendar>
  <ion-item *ngIf="scheduleProgram == 'program'" style="position: relative; --min-height: 30px;" class="ion-no-padding">
    <ion-icon class="toggle-cal" ios="ios-arrow-dropdown" md="md-arrow-dropdown" *ngIf="calendar.mode == 'week'" (click)="handleCalendarView()"></ion-icon>
    <ion-icon class="toggle-cal" ios="ios-arrow-dropup" md="md-arrow-dropup" *ngIf="calendar.mode == 'month'" (click)="handleCalendarView()"></ion-icon>
  </ion-item>
  <ion-col class="ion-no-padding">
    <ion-list class="ion-no-padding">
      <ion-item-group>
        <ion-item-divider class="ionic-divider" lines="none" sticky>
          <ion-toolbar lines="none" no-border-top class="profile_tabs three-tabs">
            <ion-segment class="ion-no-padding" [(ngModel)]="scheduleProgram">
              <ion-segment-button class="ionic-segment-btn" value="program" checked>
                <ion-icon class="ionic-icon" ios="ios-clipboard" md="md-clipboard"></ion-icon>
              </ion-segment-button>
              <ion-segment-button class="ionic-segment-btn" value="invitation">
                <ion-icon class="ionic-icon" ios="ios-mail" md="md-mail"></ion-icon>
              </ion-segment-button>
              <ion-segment-button class="ionic-segment-btn" value="nutrition">
                <ion-icon class="ionic-icon" ios="ios-nutrition" md="md-nutrition"></ion-icon>
              </ion-segment-button>
              <ion-segment-button class="ionic-segment-btn" value="videos">
                <ion-icon class="ionic-icon" ios="ios-videocam" md="md-videocam"></ion-icon>
              </ion-segment-button>
              <ion-segment-button class="ionic-segment-btn" value="live">
                <div class="live-icon">
                  <span>live</span>
                </div>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </ion-item-divider>
        <ion-item-sliding>
          <div [ngSwitch]="scheduleProgram">
            <ion-list class="ion-no-padding border-bot" *ngSwitchCase="'program'">
              <div class="program-card" *ngFor="let program of allScheduleList; let i = index;">
                <ion-avatar slot="start" [routerLink]="(program?.user_id == userData?.id) ? ['/new-program-inner',program.id] : ['/new-program-view',program.id]">
                  <img src="{{url}}{{program?.img_arr[0]}}" *ngIf="program?.image_path">
                  <img src="../../../assets/images/loading.jpg" *ngIf="!program?.image_path">
                </ion-avatar>
                <div class="program-info" [routerLink]="(program?.user_id == userData?.id) ? ['/new-program-inner',program.id] : ['/new-program-view',program.id]">
                  <h6>{{program?.title}}</h6>
                  <span>By: {{program?.program_user?.user_name}}</span>
                  <p>{{program?.converted |date:'medium'}}</p>
                </div>
                <span class="program-type">{{program?.type_id}}</span>
                <ion-icon ios="ios-more" md="md-more" *ngIf="(program?.user_id == userData?.id)" (click)="hostingDropdown(program?.id)"></ion-icon>
              </div>
              <div *ngIf="dataLength == '0' " class="no-data">
                <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
                <p>No Program available</p>             
              </div>
            </ion-list>
            <ion-list class="ion-no-padding border-bot" *ngSwitchCase="'invitation'">
              <ion-item style="position: relative; --min-height: 30px;" class="ion-no-padding">
                <ion-icon class="toggle-cal" ios="ios-arrow-dropdown" md="md-arrow-dropdown" *ngIf="calendar.mode == 'week'" (click)="handleCalendarView()"></ion-icon>
                <ion-icon class="toggle-cal" ios="ios-arrow-dropup" md="md-arrow-dropup" *ngIf="calendar.mode == 'month'" (click)="handleCalendarView()"></ion-icon>
                <!-- <ion-icon class="toggle-cal" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon> -->
              </ion-item>
                <ion-toolbar class="searchbar" >
                  <ion-searchbar [(ngModel)]="reqProgSearchTerm" animated="true"></ion-searchbar>
                </ion-toolbar>
              <div class="program-card" *ngFor="let item of reqProgArray; let l = index;" >
                <ion-avatar>
                  <img src="{{url}}{{item?.img_arr[0]}}" *ngIf="item?.image_path">
                  <img src="../../../assets/images/loading.jpg" *ngIf="!item?.image_path">
                </ion-avatar>
                <div class="program-info">
                  <h6>{{item.title}}</h6>
                  <span>By: {{item?.program_user?.user_name}}</span>
                  <p>{{item?.converted |date:'medium'}}</p>
                </div>
                <ion-icon class="ionic-icon" ios="ios-mail" md="md-mail"></ion-icon>
                <!-- M A I L  O P E N -->
                <!-- <ion-icon class="ionic-icon" ios="ios-mail-open" md="md-mail-open"></ion-icon> -->
                <ion-icon ios="ios-more" md="md-more" (click)="requestDropdown(item.id)"></ion-icon>
              </div>
              <div *ngIf="noReqProgramList" class="no-data">
                <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
                <p>No Requested Program</p>             
              </div>
            </ion-list>
            <ion-list class="ion-no-padding border-bot" *ngSwitchCase="'nutrition'">
              <ion-item style="position: relative; --min-height: 30px;" class="ion-no-padding">
                <ion-icon class="toggle-cal" ios="ios-arrow-dropdown" md="md-arrow-dropdown" *ngIf="calendar.mode == 'week'" (click)="handleCalendarView()"></ion-icon>
    <ion-icon class="toggle-cal" ios="ios-arrow-dropup" md="md-arrow-dropup" *ngIf="calendar.mode == 'month'" (click)="handleCalendarView()"></ion-icon>
                <!-- <ion-icon class="toggle-cal" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon> -->
              </ion-item>
                <ion-toolbar class="searchbar" >
                  <ion-searchbar [(ngModel)]="nutriProgSearchTerm" animated="true"></ion-searchbar>
                </ion-toolbar>
              <div class="program-card" *ngFor="let item of nutriProgArray">
                <ion-avatar (click)="nutritionModal(item)">
                  <img src="{{url}}{{item?.img_arr[0]}}" *ngIf="item?.image_path">
                  <img src="../../../assets/images/loading.jpg" *ngIf="!item?.image_path">
                </ion-avatar>
                <div class="program-info" (click)="nutritionModal(item)">
                  <h6>{{item.title}}</h6>
                  <span>By: {{item?.program_user?.user_name}}</span>
                  <p>{{item?.converted |date:'medium'}}</p>
                </div>
                <!-- <ion-icon ios="ios-more" md="md-more"></ion-icon> -->
              </div>
              <div *ngIf="noNutriProg" class="no-data">
                <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
                <p>No Program Available</p>
              </div>
            </ion-list>
            <ion-list class="ion-no-padding border-bot" *ngSwitchCase="'videos'">
              <ion-item style="position: relative; --min-height: 30px;" class="ion-no-padding">
                <ion-icon class="toggle-cal" ios="ios-arrow-dropdown" md="md-arrow-dropdown" *ngIf="calendar.mode == 'week'" (click)="handleCalendarView()"></ion-icon>
    <ion-icon class="toggle-cal" ios="ios-arrow-dropup" md="md-arrow-dropup" *ngIf="calendar.mode == 'month'" (click)="handleCalendarView()"></ion-icon>
                <!-- <ion-icon class="toggle-cal" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon> -->
              </ion-item>
              <ion-toolbar class="searchbar" >
                <ion-searchbar [(ngModel)]="videoSearchTerm" animated="true"></ion-searchbar>
              </ion-toolbar>
              <div class="program-card" *ngFor="let item of videoFiltered">
                <ion-avatar (click)="showVideoDetails(item.id,item.video_id)">
                  <img src="{{url}}{{item?.img_arr[0]}}" *ngIf="item?.image_path">
                  <img src="../../../assets/images/loading.jpg" *ngIf="!item?.image_path">
                </ion-avatar>
                <div class="program-info" (click)="showVideoDetails(item.id,item.video_id)">
                  <h6>{{item.title}}</h6>
                  <span>By: {{item?.program_user?.user_name}}</span>
                  <p>{{item?.converted |date:'medium'}}</p>
                </div>
              </div>
              <div *ngIf="noVideoProg" class="no-data">
                <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
                <p>No Program Available</p>
              </div>
            </ion-list>
            <ion-list class="ion-no-padding border-bot" *ngSwitchCase="'live'">
              <ion-item style="position: relative; --min-height: 30px;" class="ion-no-padding">
                <ion-icon class="toggle-cal" ios="ios-arrow-dropdown" md="md-arrow-dropdown" *ngIf="calendar.mode == 'week'" (click)="handleCalendarView()"></ion-icon>
    <ion-icon class="toggle-cal" ios="ios-arrow-dropup" md="md-arrow-dropup" *ngIf="calendar.mode == 'month'" (click)="handleCalendarView()"></ion-icon>
                <!-- <ion-icon class="toggle-cal" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon> -->
              </ion-item>
              <ion-toolbar class="searchbar" >
                <ion-searchbar [(ngModel)]="liveProgSearchTerm" animated="true"></ion-searchbar>
              </ion-toolbar>
              <div class="program-card" *ngFor="let item of liveProgArray">
                <ion-avatar [routerLink]="(item?.user_id == userData?.id) ? ['/new-program-inner',item.id] : ['/new-program-view',item.id]">
                  <img src="{{profileUrl}}{{item?.program_user?.bios?.profile_pic}}" *ngIf="item?.program_user?.bios?.profile_pic != '' ">
                  <img src="../../../assets/images/loading.jpg" *ngIf="item?.program_user?.bios?.profile_pic == '' ">
                </ion-avatar>
                <div class="program-info" [routerLink]="(item?.user_id == userData?.id) ? ['/new-program-inner',item.id] : ['/new-program-view',item.id]">
                  <h6>{{item.title}}</h6>
                  <span>By: {{item?.program_user?.user_name}}</span>
                  <p>{{item?.converted |date:'medium'}}</p>
                </div>
                <span class="program-type">{{item?.type_id}}</span>
                <ion-icon ios="ios-more" md="md-more" *ngIf="(item?.user_id == userData?.id)" (click)="hostingDropdown(item?.id)"></ion-icon>
              </div>
              <div *ngIf="noLiveProg" class="no-data">
                <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
                <p>No Program Available</p>
              </div>
              <div class="program-live-box">
                <!-- T I M E R   B L O C K -->
                <!-- <div class="program-live-timer">
                  <p>01 : 35 : 15</p>
                </div> -->

                  <!-- J O I N   B U T T O N -->
                <!-- <div class="program-live-btn">
                  <button>Join</button>
                </div> -->
              </div>
            </ion-list>
          </div>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  </ion-col>
</ion-content>
