.ionic-divider{
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
    .three-tabs ion-segment ion-segment-button {
        width: auto;
    }
    ion-segment-button{
        min-height: 38px;
        color: #000;
        text-transform: capitalize;
        letter-spacing: 0;
        .ionic-icon{
            font-size: 2rem !important;
        }
        .live-icon{
            padding: 5px 10px;
            background: #555;
            color: #fff;
            border-radius: 20px;
            span{
                font-size: 10px;
                color: #fff;
            }
        }
    }
}


ion-segment-button.segment-button-checked{
    background: #27a69a;
    --indicator-color-checked: #27a69a;
    color: #FFF;
    .live-icon{
        background: #27a69a;
        span{
            color: #fff !important;
        }
    }
}
.border-bot{
    border-bottom: 1px solid #cecece;
}
.program-live-box {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    .program-live-timer{
        p{
            font-size: 14px;
            color: #eb0000;
            margin-top: 3px;
        }
    }
    .program-live-btn{
        button{
            background: #eb0000;
            color: #fff;
            padding: 10px 15px;
            border-radius: 15px;
        }
    }
}

.program-card {
    display: flex;
    align-items: center;
    padding: 18px 12px;
    ion-avatar{
        margin-right: 15px;
    }
    .program-info{
        flex: 1;
        h6{
            margin-bottom: 0px;
            margin-top: 0px;
            color: #121212;
        }
        span{
            color: #555;
        }
        p{
            font-size: 12px;
            color: #27a69a;
            margin-top: 3px;
        }
    }
    .ionic-icon{
        color: #555;
        margin-right: 20px;
        margin-left: 15px;
        font-size: 24px;
    }
    .program-type{
        margin-right: 12px;
        margin-left: 12px;
    }
}