.right-div{
    display: flex;
    align-items: center;
    .min-width-none {
        min-width: 0px !important;
      }
      .pl-8{
        padding-left: 8px !important;
      }
  }
.ionic-divider{
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
    .three-tabs ion-segment ion-segment-button {
        width: auto;
    }
    ion-segment-button{
        min-height: 38px;
        color: #000;
        text-transform: capitalize;
        letter-spacing: 0;
        .ionic-icon{
            font-size: 2rem !important;
        }
        .live-icon{
            padding: 5px 10px;
            background: #555;
            color: #fff;
            border-radius: 20px;
            span{
                font-size: 10px;
                color: #fff;
            }
        }
    }
}


ion-segment-button.segment-button-checked{
    background: #27a69a;
    --indicator-color-checked: #27a69a;
    color: #FFF;
    .live-icon{
        background: #27a69a;
        span{
            color: #fff !important;
        }
    }
}
.border-bot{
    border-bottom: 1px solid #cecece;
}
.program-live-box {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    .program-live-timer{
        p{
            font-size: 14px;
            color: #eb0000;
            margin-top: 3px;
        }
    }
    .program-live-btn{
        button{
            background: #eb0000;
            color: #fff;
            padding: 10px 15px;
            border-radius: 15px;
        }
    }
}

.program-card {
    display: flex;
    align-items: center;
    padding: 18px 12px;
    ion-avatar{
        margin-right: 15px;
    }
    .program-info{
        flex: 1;
        h6{
            margin-bottom: 0px;
            margin-top: 0px;
            color: #121212;
        }
        span{
            color: #555;
        }
        p{
            font-size: 12px;
            color: #27a69a;
            margin-top: 3px;
        }
    }
    .ionic-icon{
        color: #555;
        margin-right: 20px;
        margin-left: 15px;
        font-size: 24px;
    }
    .program-type{
        margin-right: 12px;
        margin-left: 12px;
    }
}
::ng-deep {
    table{
        border: 0 !important;
    }
    tr{
        display: flex !important;
        justify-content: space-around;
    }
    th{
        flex: 1;
    }
    th, td{
        border: 0 !important;
    }
    td{
        display: inline-block;
        margin: 0.2rem !important;
        padding: 0 !important;
        width: 37px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    td.monthview-secondary-with-event.text-muted {
        border-radius: 50% !important;
    }
    td.monthview-selected {
        border-radius: 50% !important;
    }
    span.event-detail {
        overflow: hidden !important;
        max-width: 50vw;
    }
    span.monthview-eventdetail-timecolumn {
        min-width: 100px !important;
        width: 100px !important;
    }
    .item-native {
        padding-inline-start: 0 !important;
    }
    .event-detail-container{
        margin-bottom: 10px;
    }
    .event-detail-container ion-item{
        --padding-end: 40px !important;
        display: none;
    }
    .monthview-container {
        height: auto !important;
    }
    .calendar-hour-column{
        display: none !important;
      }
      .weekview-container{
          height: auto !important;
      }
        .weekview-allday-table {
            display: none !important;
        }
        ion-slides.slides-container.md.slides-md.swiper-container.hydrated.swiper-container-initialized.swiper-container-horizontal {
          background: #27A69A !important;
        }
        td, th {
          border: 0!important;
        }
        .table-bordered {
          border: 0!important;
      }
      .slides-container {
        color: #fff !important;
        background: #27A69A !important;
      }
      .list-ios{
        margin-bottom: 0 !important;
      }
      .table > thead > tr > th.weekview-header {
        font-size: 13px !important;
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 15px  ;
      }
      ion-title.ios.title-ios.title-default.hydrated {
        padding-inline: 0px;
      }
      th.weekview-header.text-center {
          background-color: #fff;
          color: #121212;
    }
      th.weekview-header.text-center.weekview-selected {
        // background: #fff;
        background-color: #27a69a;
        color: #fff;
      }
      table.table.table-bordered.table-fixed.weekview-header thead{
        background-color: #fff;
      }
}
.toggle-cal{
    color: #121212;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.segment-button-checked{
    .live-icon{
        background-color: #27a69a !important;
    }
}