<ion-header class="ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-avatar slot="start">
        <img src="../../assets/images/station1.jpg">
      </ion-avatar>
      <ion-label>
        <h2 class="list-person">{{programTitle}}</h2>
      </ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end">

      <ion-fab-button *ngIf="this.mic == mic" class="icon-block"  size="small" id="button1" (click)="muteUnMuteAudio()">
        <ion-icon ios="ios-mic" md="md-mic"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="this.mic == mic-off" class="icon-block" size="small" id="button1" (click)="muteUnMuteAudio()">
        <ion-icon ios="ios-mic-off" md="md-mic-off"></ion-icon>
      </ion-fab-button>
      <ion-fab-button  size="small" id="button5" (click)="cheangAudioMedia()">
        <ion-icon ios="ios-{{volume}}" md="md-{{volume}}"></ion-icon> 
      </ion-fab-button>
      <ion-fab-button  size="small" id="button4" (click)="switchCamera()">
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
      </ion-fab-button>      
      <ion-fab-button size="small">
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles" (click)="chatCall()"></ion-icon>          
      </ion-fab-button>
      <ion-fab-button size="small" id="button3" (click)="disconnect()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-fab-button>      
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="p-relative" [fullscreen]="true">
  <div class="myClass">
    
  </div>
  <div class="chat-screen" [ngClass]="(chatbody =='on')?'chatblock':'chatnone'">
    <div class="chatList">
        <ion-list id="history"></ion-list>
    </div>
</div> 
<ion-footer class="conferenceFooter" *ngIf="chatTrue" >
  <ion-item lines="none">
    <ion-input [(ngModel)]="groupMessage" id="sendmessage" placeholder="Enter Text" ></ion-input>
    <ion-fab-button size="small">
      <ion-icon ios="ios-send" md="md-send" (click)="sendMessage()"></ion-icon>
    </ion-fab-button>
  </ion-item>
</ion-footer>
</ion-content>