.top-list{padding: 0;margin: 10px 0;padding: 0;margin: 10px 0;position: fixed;width: 100%;bottom: 10px;}
.top-list ion-item{--min-height: 85px;background: #FFF;box-shadow: none;}
.top-list ion-item ion-label{padding-top: 0;position: absolute;bottom: 8px;left: 50%;transform: translateX(-50%);margin-left: 0;}
.top-icon{width: 40px;height: 40px;background: #e9f6f5;border-radius: 50%;display: flex;justify-content: center;align-items: center;position: relative;top: -10px;left: 50%;transform: translateX(-50%);}
.top-icon ion-icon {color: #27a69a;font-size: 1.25rem;}

.users-list{display: block;width: 100%;margin-bottom: 0;}
.users-list ion-item{--min-height: auto;display: flex;width: 100%;--padding-start: 0;--inner-padding-end: 0;--background:transparent}
.users-list ion-item img{width: 42px;height: 42px;object-fit: cover;border-radius: 50%;}
.users-list ion-item span{margin-left: -25px;}
.users-list ion-item span:first-child{margin-left: 0;}
.view-all{width:42px;height:42px;max-width: 42px;text-align:center;background:#f1f0f0;border-radius:50%;display:flex;justify-content:center;align-items:center;margin: 0;margin-left: -25px;}

.list-info{display: flex;padding: 6px;margin-bottom: 0;}
.list-info ion-item{width: 48%;box-shadow: 0.001em 5px 12px rgba(34, 35, 58, 0.09);margin: auto;margin-bottom: 8px;}
.list-info ion-item img{width: 24px;margin-right: 8px;}
.list-info ion-item ion-label{font-size: 0.85rem;}

.infoBox{background: #e9f6f5;padding: 15px;text-align: center;
  h6{margin: 0;font-size: 14px;}  
}
.icon-text {
  text-align: center;
}
.programDesc{
    p{line-height: 1.5;}
}
.right-div{
  display: flex;
  align-items: center;
}
.btnVerify{width: 100%;
  margin: 0;
  background: #27a69a;
  --background: #27a69a;
  --border-radius: 0;
  border-radius: 0;
  height: 50px;}

  .counter-box {margin-bottom: 0;}
.count_time {font-size: 16px;}
ion-slides{height: 190px;}


.list-info ion-item img{
  margin: 0;
}
.list-info ion-item.item-label.item.md.in-list.ion-focusable.hydrated {
  width: 25% !important;
  margin: 0 auto;
  text-align: center;
}
// .list-info ion-item.input-wrapper{
//   display: block !important;
// }
.counter-box ion-col.ion-no-padding.md.hydrated {
  flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%) !important;
  width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%) !important;
  max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%) !important;
}
.counter-box ion-col.ion-no-padding.mt-15.green-text.md.hydrated {
  flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%) !important;
  width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%) !important;
  max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%) !important;
}
.min-width-none {
  min-width: 0px !important;
}
.pl-8{
  padding-left: 8px !important;
}
@media only screen and (max-width: 360px){
  p.text-green.text-center[_ngcontent-fca-c8] {
    top: 0 !important;
  }
}
@media only screen and (max-width: 375px){
  p.text-green.text-center[_ngcontent-fca-c8] {
    top: 35px !important;
  }
}