<ion-content fullscreen>
  <ion-button (click)="startApp()" [hidden]="!showSkip">Skip</ion-button>  
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" [options]="homeOptions" pager>
    <ion-slide>
      <div class="slide-content">
        <h2 class="slide-title">Welcome to Intoactive</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        <div class="btn-group">
          <ion-button fill="clear" (click)="startApp()">Login</ion-button>
          <ion-button fill="clear" (click)="startApp2()">Sign Up</ion-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
        <h2 class="slide-title">What is Intoactive?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        <div class="btn-group">
          <ion-button fill="clear" (click)="startApp()">Login</ion-button>
          <ion-button fill="clear" (click)="startApp2()">Sign Up</ion-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
        <h2 class="slide-title">Let's Started ?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        <div class="btn-group">
          <ion-button fill="clear" (click)="startApp()">Login</ion-button>
          <ion-button fill="clear" (click)="startApp2()">Sign Up</ion-button>
        </div>
      </div>
    </ion-slide>
    <!-- <ion-slide>
      <img src="assets/images/ica-slidebox-img-3.png" class="slide-image" />
      <h2 class="slide-title">Let'started?</h2>
      <ion-button fill="clear" (click)="startApp()"> Login <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide> -->
  </ion-slides>
</ion-content>
