<ion-list lines="none" class="ion-no-padding radio-list">
  <ion-radio-group>
    <ion-list-header class="grey-header">Music Volume</ion-list-header>
    <ion-item>
      <ion-radio (ionSelect)="volumeSelected(50)" slot="start" value="50" checked></ion-radio>
      <div class="ml-30">
        <ion-label>Music & Audio</ion-label>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-radio (ionSelect)="volumeSelected(100)" slot="start" value="100"></ion-radio>
      <div class="ml-30">
        <ion-label>Music Only</ion-label>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </ion-item>
  </ion-radio-group>
</ion-list>
<div *ngIf="isUploading" class="ion-text-center">
  <div class="uploading">
    <p><ion-spinner name="bubbles"></ion-spinner> Uploading - {{ uploadPercent }}% Complete</p>
  </div>          
</div>
<ion-button expand="full" class="green ion-no-margin" (click)="uploadVideo()" >Proceed</ion-button>
