<ion-content padding no-bounce class="broadcast-content">
  <div class="header-btns" (click)="pushCall()">
    <ion-fab-button size="small" slot="end" class="close-btn" id="leaveConference">
      <ion-icon ios="ios-close" md="md-close"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" slot="end">
      <div id="select-device">
        <select id='select-camera' name="camera" class="custom-select" placeholder="No camera"></select>        
        <ion-icon id="my-camera" ios="ios-camera" md="md-camera"></ion-icon>
      </div>
    </ion-fab-button>
    <div id="callActions">
    <ion-fab-button size="small" slot="end">
      <ion-icon ios="ios-mic-off" md="md-mic-off" *ngIf="micOff" id='unMuteAudio' (click)="micClick()"></ion-icon>
      <ion-icon ios="ios-mic" md="md-mic" *ngIf="mic"  id='muteAudio'  (click)="micOffClick()"></ion-icon>
    </ion-fab-button>
  </div>
    <ion-fab-button size="small" slot="end" (click)="viewMore()" *ngIf="viewallBtn">
      <ion-icon ios="ios-more" md="md-more"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" slot="end" *ngIf="viewall" id="start-chat">
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" slot="end" *ngIf="viewall" id="remoteMuteAudio">MuteAll</ion-fab-button>
    <!-- <ion-fab-button size="small" slot="end" *ngIf="viewall">
      <ion-icon ios="ios-volume-up" md="md-volume-up" *ngIf="volumeUp" (click)="volumeUpClick()"></ion-icon>
      <ion-icon ios="ios-volume-off" md="md-volume-off" *ngIf="volumeOff" (click)="volumeOffClick()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" slot="end" *ngIf="viewall">
      <ion-icon ios="ios-pause" md="md-pause" *ngIf="pause" id="pauseStreaming"  (click)="showBroadcast()"></ion-icon>
      <ion-icon ios="ios-play-outline" md="md-play-outline" *ngIf="pause" (click)="micClick()"></ion-icon>
    </ion-fab-button> -->
  </div>
  <ion-header class="ion-no-padding">
    <ion-list class="top-heading three-block">
      <ion-item slot="start">
        <ion-avatar slot="start">
          <img src="{{profilePicUrl}}{{profileData?.userData?.bios?.profile_pic}}">
        </ion-avatar>
        <ion-label>
          <h2 class="list-person">{{profileData?.userData?.user_name}}</h2>
          <span class="list-name d-flex">
            <ion-icon ios="ios-eye" md="md-eye" class="text-green"></ion-icon> {{ count }}
          </span>
        </ion-label>
      </ion-item>
      <ion-item class="icon-right-side ion-text-end" slot="end"> </ion-item>
    </ion-list>
  </ion-header>
  <div id="conference">
    <div id="local-container"></div>
    <ion-list lines="none" class="ion-no-padding user-screen-list" >
      <ion-item class="user-screen"  id="remote-container"></ion-item>
      </ion-list>    
  </div>
  
  <ion-footer>
    <div id="chat">
    <ion-grid class="ion-no-padding" class="chat-box">
      <ion-row>
        <ion-col scrollY="true" size="12" class="chat-box-left" id="active-conversation-name">
          <ion-list  id="chat-body">
            <ion-item>
              <ul id="message-list"></ul>              
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item lines="none" class="send-box">
      <ion-input id="typing-area" placeholder="Enter Text" [disabled]="post.reposted"></ion-input>
      <ion-fab-button size="small" id="send-message">
        <ion-icon  id="send-message" ios="ios-send" md="md-send"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </div>
  </ion-footer>
  
</ion-content>
