<ion-content>
  <ion-list class="user-list ion-no-padding">
    <ion-item-group>
      <ion-list-header>Participant In Program</ion-list-header>
      <ion-item-sliding>
        <ion-item>   
          <ion-avatar>
            <img src="../../../assets/images/demo1.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo1.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo2.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo2.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo2.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo2.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>   
          <ion-avatar>
            <img src="../../../assets/images/demo1.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo1.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo2.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo2.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo2.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../../assets/images/demo2.jpg">
          </ion-avatar>     
          <ion-label>
            <h3 class="list-person">Pooja96</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list> 
</ion-content>