.btn{background: transparent;box-shadow: none;padding:0;--background-activated: transparent;--box-shadow: none;--background: transparent;--background-focused: transparent;--background-hover: transparent;--color: #ffffff;--color-activated: #ffffff;--color-focused: #ffffff;color: #FFF;}
.btn-gray{background: #999;}
.btn-green{background: #26a69a;}
.mt-10{margin-top: 10px;}