.note{color: #000;}
.users-list{display: flex;width: auto;;}
.users-list ion-item{--min-height: auto;display: flex;width: auto;}
.users-list ion-item img{width: 42px;height: 42px;object-fit: cover;border-radius: 50%;margin-left: -10px;}
.users-list ion-item img:first-child{margin-left: 0;}
.view-all{width:42px;height:42px;max-width: 42px;text-align:center;background:#f1f0f0;border-radius:50%;display:flex;justify-content:center;align-items:center;margin: 0;margin-left: -10px;}

.calendar-header{display: flex;justify-content: space-between;align-items: center;}
.calendar-header ion-item{--padding-start: 0;--inner-padding-end: 0;text-align: center;}
.calendar-header ion-item:nth-child(2){display: contents;}
.table > tbody > tr > td.calendar-hour-column{width: 55px;}

ion-range{position: absolute;width: 100%;top: -30px;z-index: 99;}
.audio-list{padding: 0 15px !important;}
.audio-list ion-item{--background: transparent;color: #FFF !important;width: auto !important;}
.audio-list ion-item ion-label{margin: 0;margin-right: 20px;overflow: inherit;}
.audio-list ion-item ion-fab-button{width: 25px;height: 25px;--ion-color-base: transparent !important;--box-shadow: none;}
.audio-list ion-item ion-fab-button ion-icon{color: #FFF;}

// ios css
.ios.main_content{padding-top: 0;}

// ion-skeleton-text css
.musiclist ion-item ion-skeleton-text{height: 30px;}
ion-segment-button{position: relative;}
ion-segment-button ion-skeleton-text{position: absolute;height: 100%;margin: 0;width: 95%;}
.video-skeleton{height: 200px;}
p ion-skeleton-text, .radio-list ion-item ion-skeleton-text{margin: 0;height: 20px;}
.swiper-slide{background: #fbfbfb;}
ion-slides{height: 190px;}
.top-header{position: fixed;}
.slides-container {
    height: 78% !important;
}
 
.dayview-allday-label, .calendar-hour-column {
    width: 45px !important; 
}

ion-item.floatingItem{
	ion-label{color:#a5a4a4}
	ion-textarea{margin-top:0}
}
.programPreview{
    ion-item{--padding-start: 0;--inner-padding-end: 0; margin-bottom: 15px;    font-size: 0.90rem;
        ion-list-header{padding-left: 0;}
        ion-input{min-width: 50px;border-bottom: 1px solid #d1d1d1;padding:15px 3px 8px}
    }
    ion-label{color:#000}
    .radioPreview{display: flex;
        ion-item{--background: transparent;
            --inner-border-width: 0 0 0 0;
            --padding-start: 0;
            --inner-padding-end: 0;font-size: 0.90rem;margin-right: 30px;
            ion-radio{margin-right: 10px;}
        }
    }
    .sticky-footer{position: fixed;bottom: 0;left: 0;display:flex;
        ion-button{width: 100%;margin:0;--border-radius: 0;height: 100%;--background: #27a69a;}
    }
}
.sel-parti-open-item{
    max-width: 160px;
}
.sel-parti-open-item .sc-ion-label-md-h {
    white-space: unset;
}
.prog_btn_list .btn{
    --padding-start: 2.1em;
    --padding-end: 2.1em;
    font-size: 14px;
    text-transform: uppercase;
    height: 40px;
    letter-spacing: 1px;

}
.calend_arrow{
    color: #69bdad !important;
}

.prog_btn_list ion-item{
    display: grid;
    justify-content: center;
}
.date_items {
    --ion-item-background: none !important;
    color: #000;
}
.date_items ion-icon {
    --ion-item-background: transparent;
    color: #000;
    margin-top: 5px;
}
.date_items h6{
    margin-right: 5px;
}
.top-heading ion-item{
    --inner-border-width: 0;
}
ion-item{
    --inner-border-width: 0;
}
.nutriimages-list ion-label{font-size: 0.75rem;margin: 3px 0;text-transform: capitalize;letter-spacing: 0;font-weight: 400;display: block;color: #444;}
.video-card{box-shadow: 0px 4px 10px rgba(34, 35, 58, 0.09);}
ion-slides{background: transparent;padding: 0 5px;}
.nutriimages-list ion-segment-button{width: 32%;border: none;padding: 0;--padding-start: 0;--padding-end: 0;    margin: 0 3px;display: flex;justify-content: center;align-items: center;background: #f7f7f7;border-radius: 4px;}
.nutriimages-list ion-segment-button:first-child{margin-left: 0;}
.nutriimages-list ion-segment-button img{object-fit: contain;max-width: 100%;}
.nutriimages-list .segment-button-checked{background: #eaeaea;--color-checked: transparent;}
.nutriimages-list .thumb-checkbox{position: absolute;width: 100%;height: 100%;}
.nutriimages-list .thumb-checkbox ion-checkbox{opacity:0;width:100%;height:78px;padding:0 0}
// .checkboxThumb{display: contents;}
.checkboxThumb::after{content: '';width: 16px;height: 16px;border: 2px solid #7d7d7d;display: block;border-radius: 50%;position: absolute;top: 5px;left: 5px;}
.nutriimages-list .thumb-checkbox ion-checkbox.checkbox-checked{opacity:1;--background-checked:transparent;--border-color-checked:transparent;--size:0;--checkmark-color:transparent}
.nutriimages-list .thumb-checkbox ion-checkbox.checkbox-checked:after{content:'';width:20px;height:20px;background:#26a69a;display:block;border-radius:50%;position:absolute;top:5px;left:5px}
.item-list ion-list-header ion-icon{font-size: 1.15rem;}

.users-list{--min-height: auto;display: flex;align-items: center;margin: 6px 0; 
    // justify-content: end;
}
.users-list img{width: 36px;height: 36px;object-fit: cover;border-radius: 50%;margin-left: -10px;}
.users-list img:first-child{margin-left: 0;}
.users-list ion-label{width: 100px;}

ion-list{padding-top: 0 !important;padding-bottom: 0 !important;
    ion-item{font-size: 0.875rem;--padding-end: 16px;padding-inline-end: 0;--inner-padding-end: 0;--min-height: 44px;--border-color: whitesmoke;}
    .descriptionItem{
        ion-item{padding: 0;}
    }
}
.green-alram-icon{width: 12% !important; position: center !important;}
.monthview-selected{background-color: #3a87ad !important;}
.calender_green_bottom .ion-margin-start {
    margin-left: 7px;
    position: relative;
    top: -10px;
}
.green-alram-icon{
    // position: absolute;
    // top: 330px;
    // right: 15px;
    position: absolute;
    top: 350px;
    right: 20px;
    width:fit-content !important;
    padding: 5px 10px;
}
.event-detail-container ion-item{
    padding-right: 2rem;
}
.showDateTime .datetime-text{
    display: none !important;
}
.showDateTime {
    padding: 0 10px;
    text-align: center;
}
ion-datetime#dat {
    // padding: 0;
    padding: 0 10px;
    position: relative;
    left: -12px;
}
.item .sc-ion-label-md-h {
    overflow: visible !important;
}
.counter-box[_ngcontent-pyj-c13] {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 100px;
}
p.text-green.text-center {
    position: relative;
    top: 35px;
    display: inline-flex;
    width: 140px;
    left: -15px;
}
.program__card {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

// android CSS

ion-icon.ion-margin-start.md.hydrated {
    top: 0px;
    width: 1rem;
    height: 1rem;
}

// IOS CSS

ion-icon.ion-margin-start.ios.hydrated {
    top: 0px;
}

ion-icon.live-icon.ios.hydrated, ion-icon.live-icon.md.hydrated {
    font-size: 34px;
    margin-left: 12px;
    margin-right: 12px;
}
ion-title.ios.title-ios.title-default.hydrated {
    padding: 0 20px;
}
.list-ios{
    margin-bottom: 0px;
}
.live-ion-list-header{
    justify-content: initial;
    .divider{
        margin-left: 20px;
        margin-right: 20px;
    }
    .calender_green_bottom{
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        ion-icon{
            font-size: 1.7rem;
        }
    }
}
.live-event-box{
    width: 100%;
    .live-event-head{
        margin-bottom: 10px;
    }
    .live-event-info{
        padding: 12px 20px 2px 20px;
        border: 1px solid #cecece;
        border-radius: 12px; 
        max-height: 100px;
        overflow-y: scroll;
        .live-event-details{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            p{
                font-size: 16px;
                color: #121212;
            }
            .small-divider{
                width: 1.5px;
                height: 20px;
                background-color: #555;
                margin-right: 14px;
                margin-left: 14px
            }
        }
    }
}
.live-event-icon{
    font-size: 28px;
    min-width: 80px;
    color: #555;
    margin-right: 20px;
}
.users-list{
    flex: 1;
}
.closeIcon {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-icon{
    width: 1rem;
    height: 1rem;
    margin-left: 0;
    color: #26a69a;
}
.fixed {
    position: fixed !important;
    z-index: 9 !important;
    background-color: #fff !important;
}
.margin-top-md{
    margin-top: 10%;
}

form.fixed.ng-untouched.ng-pristine.ng-valid {
    position: fixed;
    z-index: 9;
}
.live-icon{
    // color: #fff;
    color: transparent;
}
.toggleDiv {
    margin-bottom: 2px;
    width: 50px;
}
.live::after{
    content: 'Go Live';
    color: #26a69a;
    font-size: 11px;
    font-weight: 500;
    padding: 6px 5px;
    background: #fff;
    // transition: all .2s ease-in-out;
    border-radius: 3px;
    margin-bottom: 2px;
}
.title{
    font-size: 13px;
}
.title span{
    font-size: 11px;
    display: block;
    color: #E7E7E7;
    margin-bottom: 3px;
}
.live.active::after{
    content: 'Live';
    padding: 6px 7px;
    font-size: 11px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    background: #FF3A3A;
    // transition: all .2s ease-in-out;
}
ion-icon.active{
    display: block;
    color: rgb(255, 17, 17);
}
.width-full{
    width: 100% !important;
}
.divider {
    width: 1.5px;
    height: 35px;
    background: #fff;
}
// .green ion-icon.md.hydrated {
//     right: 10px;
//     position: absolute;
// }
::ng-deep {
    table{
        border: 0 !important;
    }
    tr{
        display: flex !important;
        justify-content: space-around;
    }
    th{
        flex: 1;
    }
    th, td{
        border: 0 !important;
    }
    td{
        display: inline-block;
        margin: 0.2rem !important;
        padding: 0 !important;
        width: 37px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    td.monthview-secondary-with-event.text-muted {
        border-radius: 50% !important;
    }
    td.monthview-selected {
        border-radius: 50% !important;
    }
    span.event-detail {
        overflow: hidden !important;
        max-width: 50vw;
    }
    span.monthview-eventdetail-timecolumn {
        min-width: 100px !important;
        width: 100px !important;
    }
    .item-native {
        padding-inline-start: 0 !important;
    }
    .event-detail-container ion-item{
        --padding-end: 40px !important;
    }
    
}

// ANDROID CSS
ion-list-header.ion-padding-horizontal.green.text-white.md.hydrated {
    padding-bottom: 12px;
    padding-top: 12px;
}
ion-list.width-full.md.list-md.hydrated {
    border-radius: 4px;
}
// IOS CSS
ion-list-header.ion-padding-horizontal.green.text-white.ios.hydrated {
    padding-bottom: 12px;
    padding-top: 12px;
    text-transform: initial;
    letter-spacing: 0px;
}
ion-list.width-full.ios.list-ios.hydrated {
    border-radius: 4px;
}