.instructions-list ion-item, .ingredient-list ion-item{--padding-start: 0;}    
.grey-header{color: #030303;}
.bg{background: #fbfbfb;}
p.note{color: #000;font-weight: 600;font-style: italic;}
.pb-0{padding-bottom: 0;}

// hitesh css strt
.nutrition-no-data{height: calc(100vh - 320px);}
.instructions-list ion-item p, .ingredient-list ion-item p {
    padding-left: 15px;
    font-size: .85rem;
    padding-bottom: 0;
    margin-bottom: 0px !important;
    text-transform: capitalize;
    padding-top: 5px;
}
// hitesh css ends

.nutrition-divider{
    width: 95%;
    margin: auto;
    height: 10px;
    background-color: #27A69A;
    margin-bottom: 20px;
}
.nutrition-title{
    text-transform: capitalize;
}
.nutrition-flex{
    justify-content: center;
}
.nutrition-desc{
    text-align: left;
    color: #6c6c6c;
}
.nutrition-slide{
    height: 210px;
    .nutrition-image{
        width: 100% !important;
    height: 100%;
    object-fit: cover;
    object-position: center;
    }
}
.nutrition-title{

}