.instructions-list ion-item, .ingredient-list ion-item{--padding-start: 0;}    
.grey-header{color: #030303;}
.bg{background: #fbfbfb;}
p.note{color: #000;font-weight: 600;font-style: italic;}
.pb-0{padding-bottom: 0;}