<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading">
    <ion-item>
      <ion-buttons class="ion-no-margin" slot="start" (click)="closeModal()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label>Nutrition</ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon> -->
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content no_footer">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding bg">
        <ion-card>
          <ion-card-header class="pb-0">
            <h6>Nutrition Info :</h6>
          </ion-card-header>
          <ion-card-content>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s.</p>
            <p class="note">Follow this Nutrition for Next 10 Days.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-toolbar no-border-top class="profile_tabs">
          <ion-segment class="ion-no-padding" scrollable="true" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="breakFast" checked>
              <span>BreakFast</span>
            </ion-segment-button>
            <ion-segment-button value="brunch">
              <span>Brunch</span>
            </ion-segment-button>
            <ion-segment-button value="lunch">
              <span>Lunch</span>
            </ion-segment-button>
            <ion-segment-button value="snacks">
              <span>Snacks</span>
            </ion-segment-button>
            <ion-segment-button value="dinner">
              <span>Dinner</span>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
        <div [ngSwitch]="nutritionInfo">
          <div *ngSwitchCase="'breakFast'">
            <div *ngFor="let item of nutritionItem  | filter:'BreakFast':'type'">
              <div *ngIf="item.type=='BreakFast'">
                <ion-list-header class="grey-header mb-0">{{item.title}}</ion-list-header>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <p>{{item.description}}</p>
                    </ion-col>
                    <ion-col size="12" class="nutrition-flex">
                      <div class="nutrition-sub">
                        <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon> {{item.serving_size}}
                      </div>
                      <div class="nutrition-sub ion-text-right">
                        <ion-icon ios="ios-time" md="md-time"></ion-icon> {{item.preparation_time}} (hh:mm)
                      </div>
                    </ion-col>
                    <ion-col size="12">
                      <ion-toolbar no-border-top class="profile_tabs subprofile_tabs">
                        <ion-segment class="ion-no-padding" (ionChange)="nutritionChanged($event)">
                          <ion-segment-button value="ingredients" checked>
                            <span>Ingredients</span>
                          </ion-segment-button>
                          <ion-segment-button value="instruction">
                            <span>Instruction</span>
                          </ion-segment-button>
                          <ion-segment-button value="calories">
                            <span>Calories</span>
                          </ion-segment-button>
                        </ion-segment>
                      </ion-toolbar>
                      <div [ngSwitch]="nutritionType">
                        <div *ngSwitchCase="'ingredients'">
                          <ion-list lines="none" class="ingredient-list">
                            <ion-item *ngFor="let ingredient of item.ingredientsArr">
                              <p>{{ingredient}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'instruction'">
                          <ion-list lines="none" class="instructions-list">
                            <ion-item *ngFor="let instruction of item.instructionArr">
                              <p>{{instruction}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'calories'">
                          <ion-list class="details-list" lines="none">
                            <ion-item>
                              <ion-label>Calories</ion-label>
                              <ion-text>{{item?.total_calorie |number   }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Carbohydrates</ion-label>
                              <ion-text>{{item?.total_carbohydrate |number  }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Proteins</ion-label>
                              <ion-text>{{item?.total_protein |number }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Fats</ion-label>
                              <ion-text>{{item?.total_fat |number}}</ion-text>
                            </ion-item>
                           
                            <ion-item>
                              <ion-label>Sugar</ion-label>
                              <ion-text>{{item?.total_sugar |number}}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Cholestrol</ion-label>
                              <ion-text>{{item?.total_cholestrol|number }}</ion-text>
                            </ion-item>
                          </ion-list>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data">
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No BreakFast</p> 
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'brunch'" lines="none">
            <div *ngFor="let item of nutritionItem  | filter:'Brunch':'type'">
              <div *ngIf="item.type=='Brunch'">
                <ion-list-header class="grey-header mb-0">{{item.title}}</ion-list-header>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <p>{{item.description}}</p>
                    </ion-col>
                    <ion-col size="12" class="nutrition-flex">
                      <div class="nutrition-sub">
                        <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon>{{item?.serving_size}} 
                      </div>
                      <div class="nutrition-sub ion-text-right">
                        <ion-icon ios="ios-time" md="md-time"></ion-icon> {{item.preparation_time}} (hh:mm)
                      </div>
                    </ion-col>
                    <ion-col size="12">
                      <ion-toolbar no-border-top class="profile_tabs subprofile_tabs">
                        <ion-segment class="ion-no-padding" (ionChange)="nutritionChanged($event)">
                          <ion-segment-button value="ingredients" checked>
                            <span>Ingredients</span>
                          </ion-segment-button>
                          <ion-segment-button value="instruction">
                            <span>Instruction</span>
                          </ion-segment-button>
                          <ion-segment-button value="calories">
                            <span>Calories</span>
                          </ion-segment-button>
                        </ion-segment>
                      </ion-toolbar>
                      <div [ngSwitch]="nutritionType">
                        <div *ngSwitchCase="'ingredients'">
                          <ion-list lines="none" class="ingredient-list">
                            <ion-item *ngFor="let ingredient of item.ingredientsArr">
                              <p>{{ingredient}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'instruction'">
                          <ion-list lines="none" class="instructions-list">
                            <ion-item *ngFor="let instruction of item.instructionArr">
                              <p>{{instruction}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'calories'">
                          <ion-list class="details-list" lines="none">
                            <ion-item>
                              <ion-label>Calories</ion-label>
                              <ion-text>{{item?.total_calorie |number  }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Carbohydrates</ion-label>
                              <ion-text>{{item?.total_carbohydrate  |number }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Proteins</ion-label>
                              <ion-text>{{item?.total_protein  |number}}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Fats</ion-label>
                              <ion-text>{{item?.total_fat |number}}</ion-text>
                            </ion-item>
                           
                            <ion-item>
                              <ion-label>Sugar</ion-label>
                              <ion-text>{{item?.total_sugar |number}}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Cholestrol</ion-label>
                              <ion-text>{{item?.total_cholestrol |number}}</ion-text>
                            </ion-item>
                          </ion-list>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data"> 
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No Brunch</p>
              </div>
            </div>          
          </div>
          <div *ngSwitchCase="'lunch'">
            <div *ngFor="let item of nutritionItem | filter:'Lunch':'type'" >
              <div *ngIf="item.type=='Lunch'">
                <ion-list-header class="grey-header mb-0">{{item.title}}</ion-list-header>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <p>{{item.description}}</p>
                    </ion-col>
                    <ion-col size="12" class="nutrition-flex">
                      <div class="nutrition-sub">
                        <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon> {{item?.serving_size}} 
                      </div>
                      <div class="nutrition-sub ion-text-right">
                        <ion-icon ios="ios-time" md="md-time"></ion-icon> {{item.preparation_time}} (hh:mm)
                      </div>
                    </ion-col>
                    <ion-col size="12">
                      <ion-toolbar no-border-top class="profile_tabs subprofile_tabs">
                        <ion-segment class="ion-no-padding" (ionChange)="nutritionChanged($event)">
                          <ion-segment-button value="ingredients" checked>
                            <span>Ingredients</span>
                          </ion-segment-button>
                          <ion-segment-button value="instruction">
                            <span>Instruction</span>
                          </ion-segment-button>
                          <ion-segment-button value="calories">
                            <span>Calories</span>
                          </ion-segment-button>
                        </ion-segment>
                      </ion-toolbar>
                      <div [ngSwitch]="nutritionType">
                        <div *ngSwitchCase="'ingredients'">
                          <ion-list lines="none" class="ingredient-list">
                            <ion-item *ngFor="let ingredient of item.ingredientsArr">
                              <p>{{ingredient}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'instruction'">
                          <ion-list lines="none" class="instructions-list">
                            <ion-item *ngFor="let instruction of item.instructionArr">
                              <p>{{instruction}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'calories'">
                          <ion-list class="details-list" lines="none">
                            <ion-item>
                              <ion-label>Calories</ion-label>
                              <ion-text>{{item?.total_calorie  |number  }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Carbohydrates</ion-label>
                              <ion-text>{{item?.total_carbohydrate  |number  }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Proteins</ion-label>
                              <ion-text>{{item?.total_protein |number  }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Fats</ion-label>
                              <ion-text>{{item?.total_fat |number }}</ion-text>
                            </ion-item>
                           
                            <ion-item>
                              <ion-label>Sugar</ion-label>
                              <ion-text>{{item?.total_sugar  |number}}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Cholestrol</ion-label>
                              <ion-text>{{item?.total_cholestrol |number }}</ion-text>
                            </ion-item>
                          </ion-list>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data">
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No Lunch</p>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'snacks'">
            <div *ngFor="let item of nutritionItem | filter:'Snacks':'type'">
              <div *ngIf="item.type=='Snacks'">
                <ion-list-header class="grey-header mb-0">{{item.title}}</ion-list-header>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <p>{{item.description}}</p>
                    </ion-col>
                    <ion-col size="12" class="nutrition-flex">
                      <div class="nutrition-sub">
                        <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon>{{item?.serving_size}} 
                      </div>
                      <div class="nutrition-sub ion-text-right">
                        <ion-icon ios="ios-time" md="md-time"></ion-icon> {{item.preparation_time}} (hh:mm)
                      </div>
                    </ion-col>
                    <ion-col size="12">
                      <ion-toolbar no-border-top class="profile_tabs subprofile_tabs">
                        <ion-segment class="ion-no-padding" (ionChange)="nutritionChanged($event)">
                          <ion-segment-button value="ingredients" checked>
                            <span>Ingredients</span>
                          </ion-segment-button>
                          <ion-segment-button value="instruction">
                            <span>Instruction</span>
                          </ion-segment-button>
                          <ion-segment-button value="calories">
                            <span>Calories</span>
                          </ion-segment-button>
                        </ion-segment>
                      </ion-toolbar>
                      <div [ngSwitch]="nutritionType">
                        <div *ngSwitchCase="'ingredients'">
                          <ion-list lines="none" class="ingredient-list">
                            <ion-item *ngFor="let ingredient of item.ingredientsArr">
                              <p>{{ingredient}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'instruction'">
                          <ion-list lines="none" class="instructions-list">
                            <ion-item *ngFor="let instruction of item.instructionArr">
                              <p>{{instruction}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'calories'">
                          <ion-list class="details-list" lines="none">
                            <ion-item>
                              <ion-label>Calories</ion-label>
                              <ion-text>{{item?.total_calorie  |number  }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Carbohydrates</ion-label>
                              <ion-text>{{item?.total_carbohydrate |number   }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Proteins</ion-label>
                              <ion-text>{{item?.total_protein |number  }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Fats</ion-label>
                              <ion-text>{{item?.total_fat |number }}</ion-text>
                            </ion-item>
                           
                            <ion-item>
                              <ion-label>Sugar</ion-label>
                              <ion-text>{{item?.total_sugar |number }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Cholestrol</ion-label>
                              <ion-text>{{item?.total_cholestrol |number }}</ion-text>
                            </ion-item>
                          </ion-list>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data">
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No Snacks</p>
              </div>
            </div>
         
          </div>
          <div *ngSwitchCase="'dinner'">
            <div *ngFor="let item of nutritionItem  | filter:'Snacks':'type'">
              <div *ngIf="item.type=='Dinner'">
                <ion-list-header class="grey-header mb-0">{{item.title}}</ion-list-header>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <p>{{item.description}}</p>
                    </ion-col>
                    <ion-col size="12" class="nutrition-flex">
                      <div class="nutrition-sub">
                        <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon> {{item?.serving_size}} 
                      </div>
                      <div class="nutrition-sub ion-text-right">
                        <ion-icon ios="ios-time" md="md-time"></ion-icon> {{item.preparation_time}} (hh:mm)
                      </div>
                    </ion-col>
                    <ion-col size="12">
                      <ion-toolbar no-border-top class="profile_tabs subprofile_tabs">
                        <ion-segment class="ion-no-padding" (ionChange)="nutritionChanged($event)">
                          <ion-segment-button value="ingredients" checked>
                            <span>Ingredients</span>
                          </ion-segment-button>
                          <ion-segment-button value="instruction">
                            <span>Instruction</span>
                          </ion-segment-button>
                          <ion-segment-button value="calories">
                            <span>Calories</span>
                          </ion-segment-button>
                        </ion-segment>
                      </ion-toolbar>
                      <div [ngSwitch]="nutritionType">
                        <div *ngSwitchCase="'ingredients'">
                          <ion-list lines="none" class="ingredient-list">
                            <ion-item *ngFor="let ingredient of item.ingredientsArr">
                              <p>{{ingredient}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'instruction'">
                          <ion-list lines="none" class="instructions-list">
                            <ion-item *ngFor="let instruction of item.instructionArr">
                              <p>{{instruction}}</p>
                            </ion-item>
                            
                          </ion-list>
                        </div>
                        <div *ngSwitchCase="'calories'">
                          <ion-list class="details-list" lines="none">
                            <ion-item>
                              <ion-label>Calories</ion-label>
                              <ion-text>{{item?.total_calorie  |number  }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Carbohydrates</ion-label>
                              <ion-text>{{item?.total_carbohydrate |number   }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Proteins</ion-label>
                              <ion-text>{{item?.total_protein  |number }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Fats</ion-label>
                              <ion-text>{{item?.total_fat |number }}</ion-text>
                            </ion-item>
                           
                            <ion-item>
                              <ion-label>Sugar</ion-label>
                              <ion-text>{{item?.total_sugar |number }}</ion-text>
                            </ion-item>
                            <ion-item>
                              <ion-label>Cholestrol</ion-label>
                              <ion-text>{{item?.total_cholestrol |number }}</ion-text>
                            </ion-item>
                          </ion-list>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div *ngIf="item.empty" class="no-data nutrition-no-data">
                <img src="../../../assets/images/dish.svg" class="mb-10" width="40px" />
                <p>No Dinner</p>
              </div>
             </div>
          
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>