<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block"> 
    <ion-item slot="center">
      <ion-label>Category</ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end">
      <div class="icon-right-side">
        <a [routerLink]="['/tabs/search']" class="set-icon">
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </a>
        <a [routerLink]="['/notification']" id="notificationcount" class="noti-bell">
          <ion-icon ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>
          <ion-badge slot="end" *ngIf="notificationCount > 0">{{ notificationCount }}</ion-badge>
        </a>
      </div>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content class="main_content" >
  <ion-toolbar no-border-top class="profile_tabs" >
    <ion-segment  class="ion-no-padding"  >
      <ion-segment-button value="people" checked>
        <span>Peoples</span>
      </ion-segment-button>
      <ion-segment-button value="video">
        <span>Videos</span>
      </ion-segment-button>
      <ion-segment-button value="post">
        <span>Posts</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-content>
