.note {
  color: #000;
}

.users-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.users-list ion-item {
  --min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.users-list ion-item img {
  width: 42px;
  height: 42px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: -10px;
}

.users-list ion-item img:first-child {
  margin-left: 0;
}

.view-all {
  width: 42px;
  height: 42px;
  max-width: 42px;
  text-align: center;
  background: #f1f0f0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: -10px;
}

.users-list {
  --min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px 0;
}

.users-list img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: -10px;
}

.users-list img:first-child {
  margin-left: 0;
}

.users-list ion-label {
  width: 100px;
}

.view-all {
  width: 36px;
  height: 36px;
  max-width: 36px;
  text-align: center;
  background: #f1f0f0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: -10px;
}

.nutriimages-list ion-label {
  font-size: 0.75rem;
  margin: 3px 0;
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 400;
  display: block;
  color: #444;
}

.calendar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-header ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.calendar-header ion-item:nth-child(2) {
  display: contents;
}

.table > tbody > tr > td.calendar-hour-column {
  width: 55px;
}

ion-range {
  position: absolute;
  width: 100%;
  top: -30px;
  z-index: 99;
}

.audio-list {
  padding: 0 15px !important;
}

.audio-list ion-item {
  --background: transparent;
  color: #FFF !important;
  width: auto !important;
}

.audio-list ion-item ion-label {
  margin: 0;
  margin-right: 20px;
  overflow: inherit;
}

.audio-list ion-item ion-fab-button {
  width: 25px;
  height: 25px;
  --ion-color-base: transparent !important;
  --box-shadow: none;
}

.audio-list ion-item ion-fab-button ion-icon {
  color: #FFF;
}

.ios.main_content {
  padding-top: 0;
}

.musiclist ion-item ion-skeleton-text {
  height: 30px;
}

ion-segment-button {
  position: relative;
}

ion-segment-button ion-skeleton-text {
  position: absolute;
  height: 100%;
  margin: 0;
  width: 95%;
}

.video-skeleton {
  height: 200px;
}

p ion-skeleton-text, .radio-list ion-item ion-skeleton-text {
  margin: 0;
  height: 20px;
}

.swiper-slide {
  background: #fbfbfb;
}

ion-slides {
  height: 190px;
}

.top-header {
  position: fixed;
}

.slides-container {
  height: 78% !important;
}

.programHeading {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.nutrition-form ion-item ion-textarea {
  padding-bottom: 10px;
  --padding-bottom: 15px;
}

.radioPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radioPreview ion-item {
  --background: transparent;
  --inner-border-width: 0 0 0 0;
  --padding-start: 0;
  --inner-padding-end: 0;
  font-size: 0.90rem;
  margin-right: 30px;
}

.radioPreview ion-item ion-radio {
  margin-right: 10px;
}

.thumb-list ion-item ion-label {
  position: absolute;
  bottom: 0;
  margin: 0;
  background: rgba(38, 166, 154, 0.5);
  width: 100%;
  color: #FFF;
  padding: 5px;
  text-align: center;
}
/*# sourceMappingURL=edit-program.page.css.map */