<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" (click)="closeModal()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label>Equipments</ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end">
      <ion-icon ios="ios-create" md="md-create" slot="end" (click)="openEdit()" ></ion-icon>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content">
  
  <div *ngIf="equipment;else nodata">
    <ion-list class="user-list ion-no-padding" >
      <ion-item *ngFor="let equp of equipments; let i=index;">      
  
        <ion-label class="ion-padding-horizontal" *ngIf="equp?.selected"><h3 class="list-person">{{equp?.name}} </h3></ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #nodata>
    <div class="no-data" >
      <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
      <p>No Data Found</p>
    </div>
  </ng-template>
</ion-content>
