.top-list{padding: 0;margin: 10px 0;}
.top-list ion-item{--min-height: 85px;background: #FFF;box-shadow: none;}
.top-list ion-item ion-label{padding-top: 0;position: absolute;bottom: 8px;left: 50%;transform: translateX(-50%);margin-left: 0;}
.top-icon{width: 40px;height: 40px;background: #e9f6f5;border-radius: 50%;display: flex;justify-content: center;align-items: center;position: relative;top: -10px;left: 50%;transform: translateX(-50%);}
.top-icon ion-icon {color: #27a69a;font-size: 1.25rem;}

.users-list{display: block;width: 100%;margin-bottom: 0;}
.users-list ion-item{--min-height: auto;display: flex;width: 100%;--padding-start: 0;--inner-padding-end: 0;--background:transparent}
.users-list ion-item img{width: 42px;height: 42px;object-fit: cover;border-radius: 50%;}
.users-list ion-item span{margin-left: -25px;}
.users-list ion-item span:first-child{margin-left: 0;}
.view-all{width:42px;height:42px;max-width: 42px;text-align:center;background:#f1f0f0;border-radius:50%;display:flex;justify-content:center;align-items:center;margin: 0;margin-left: -25px;}

.list-info{display: flex;flex-wrap: wrap;padding: 6px;margin-bottom: 0;}
.list-info ion-item{width: 48%;box-shadow: 0.001em 5px 12px rgba(34, 35, 58, 0.09);margin: auto;margin-bottom: 8px;}
.list-info ion-item img{width: 24px;margin-right: 8px;}
.list-info ion-item ion-label{font-size: 0.85rem;}