<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin"  (click)="closeModal()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label>Terms And Conditions</ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end"></ion-item>
  </ion-list>
</ion-header>
<ion-content fullscreen  class="ion-padding">

  <h3>Terms of use</h3>
  <p>
    Terms and conditions are not required by law, but are extremely important to the long-term success and viability of your website. Having website terms and conditions is considered standard business practice in the US, Canada, the UK, and just about everywhere else — from South Africa to Australia. 
   </p>


  <h3>Conditions</h3>
  <p>
    If you plan to grow your business or expand your user base, a simple terms and conditions agreement will provide your website with an additional layer of legal protection, and allow you to maintain your rights.
  </p>
</ion-content>
