<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" [routerLink]="['/tabs/consultant-profile']">
        <!-- <ion-buttons class="ion-no-margin" (click)="goBack()"></ion-buttons> -->
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label >Program List</ion-label>
    </ion-item>
    <!-- <ion-item slot="center">
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="myDate" value="{{myDate}}" (ionChange)="sortDate(event)">
      </ion-datetime>
    </ion-item> -->
    <ion-item class="icon-right-side ion-text-end" slot="end">
      <ion-toggle slot="end" [(ngModel)]="showAll" (ionChange)="onChange($event)" *ngIf="programTabs == 'schedule'">
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content">
<!------------- S K E L E T O N -------------- -->
<div [ngSwitch]="programTabs" *ngIf="!programList">
  <ion-list lines="none" *ngSwitchCase="'hosting'" class="ion-no-padding">
    <ion-card *ngFor="let itemSkeleton of [].constructor(10)" class="ion-no-margin">
      <ion-item class="item-card">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</div>
<!------------- E N D   S K E L E T O N ----------------->
<div *ngIf="notShowAll" class="programCalendar">
  <!-- <h4>{{myDate | date}}</h4> -->
<ion-item lines="none">  
  <ion-label *ngFor="let week of dayDate; let i = index " class="{{week.activeClass}}" (click)="week.disableClass == 0 ? mySortDate(week.myDate,i) : tostmess()">{{week.day}}<p>{{week.date}}</p></ion-label>
</ion-item>
</div>
  <ion-segment class="top-segment" (ionChange)="tabs($event)">
    <ion-segment-button value="schedule" *ngIf="userData?.user_type" checked>
      <div class="chatBadge">
        <span>Schedule</span> 
        <ion-badge class="ml-1">{{pgCount || 0}}</ion-badge>
      </div> 
    </ion-segment-button>
    <!-- <ion-segment-button value="hosting" *ngIf="userData?.user_type" checked>
      <div class="chatBadge">
        <span>Hosting</span> 
        <ion-badge class="ml-1">{{programList?.length || 0}}</ion-badge>
      </div> 
    </ion-segment-button>
    <ion-segment-button value="attending">
      <div class="chatBadge">
        <span>Attending</span> 
        <ion-badge class="ml-1">{{accProgramList?.length || 0}}</ion-badge>
      </div>       
    </ion-segment-button> -->
    <ion-segment-button value="requested">
      <div class="chatBadge">
        <span>Invitation</span> 
        <ion-badge class="ml-1">{{reqProgramList?.length || 0}}</ion-badge>
      </div>     
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="programTabs">
    <ion-list lines="none" *ngSwitchCase="'schedule'">
      <div *ngIf="scheduleList &&  !showAll">
        <ion-card *ngFor="let program of scheduleList; let i = index;" class="ion-no-margin upcomingCard">
          <ion-item lines="none">
            <ion-avatar slot="start" [routerLink]="(program?.user_id == userData?.id) ? ['/program-details',program.id] : ['/program-view',program.id]">
              <img src="{{url}}{{program?.img_arr[0]}}" *ngIf="program?.image_path">
              <img src="../../../assets/images/loading.jpg" *ngIf="!program?.image_path">
            </ion-avatar>
            <ion-label [routerLink]="(program?.user_id == userData?.id) ? ['/program-details',program.id] : ['/program-view',program.id]">
              <h3 class="list-person">{{program?.title}}</h3>
              <span class="list-name d-block">{{program?.type_id}}</span>
              <span class="list-name">By: {{program?.program_user?.user_name}}</span>
              <p class="text-green">{{program?.converted |date:'medium'}}</p>
            </ion-label>
            <div class="action-links" slot="end">
              <ion-icon ios="ios-more" md="md-more" *ngIf="(program?.user_id == userData?.id)" (click)="hostingDropdown(program?.id)"></ion-icon>
              <ion-icon ios="ios-restaurant" md="md-restaurant" (click)="showSchedule(program)"></ion-icon>
             </div>
          </ion-item>          
        </ion-card>
      </div>
      <div *ngIf="showAll">
        <!-- <ion-card *ngFor="let program of allProgramList | programFilter; let j = index;" class="ion-no-margin"> -->
          <ion-list lines="none" class="calendar-header">
            <ion-item class="ion-text-left">
              <ion-button class="calend_arrow" fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-title>{{ viewTitle }}</ion-title>
            </ion-item>
            <!-- Move forward one screen of the slides -->
            <ion-item class="ion-text-right">
              <ion-button class="calend_arrow " fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
          <calendar  [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
              scrollToHour="{{currentHrs}}" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" startHour="6"
              endHour="20"
              step="30"
              startingDayWeek="1"  class="calendar-table swiper-container">
          </calendar>
        <ion-card *ngFor="let program of allProgramList ; let j = index;" class="ion-no-margin">
          <ion-item class="item-card">
            <ion-avatar slot="start" [routerLink]="(program?.user_id == userData?.id) ? ['/program-details',program.id] : ['/program-view',program.id]">
              <img src="{{url}}{{program?.img_arr[0]}}" *ngIf="program?.image_path">
              <img src="../../../assets/images/loading.jpg" *ngIf="!program?.image_path">
            </ion-avatar>
            <ion-label [routerLink]="(program?.user_id == userData?.id) ? ['/program-details',program.id] : ['/program-view',program.id]">
              <h3 class="list-person">{{program?.title}}</h3>
              <span class="list-name d-block">{{program?.type_id}}</span>
              <span class="list-name">By: {{program?.program_user?.user_name}}</span>
              <p class="text-green">{{program?.converted |date:'medium'}}</p>
            </ion-label>
            <div class="action-links" slot="end">
              <ion-icon ios="ios-more" md="md-more" *ngIf="(program?.user_id == userData?.id)" (click)="hostingDropdown(program?.id)"></ion-icon>
              <ion-icon ios="ios-restaurant" md="md-restaurant" (click)="showSchedule(program)"></ion-icon>
             </div>
          </ion-item>          
        </ion-card>
      </div>
      <div *ngIf="noScheduleList" class="no-data">
        <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
        <p>No Schedule Program</p>
      </div>
    </ion-list>
    <!-- <ion-list lines="none" *ngSwitchCase="'hosting'">
      <div *ngIf="programList &&  !showAll">
        <ion-card *ngFor="let program of programList; let i = index;" class="ion-no-margin">
          <ion-item>
            <ion-avatar slot="start" [routerLink]="['/program-details',program.id]">
              <img src="{{url}}{{program?.img_arr[0]}}" *ngIf="program?.image_path">
              <img src="../../../assets/images/loading.jpg" *ngIf="!program?.image_path">
            </ion-avatar> -->
            <!-- <ion-label [routerLink]="['/program-details', program.id]">
              <h3 class="list-person">{{program?.title}}</h3>
              <span class="list-name d-block">{{program?.type_id}}</span>
              <span class="list-name">By: {{program?.program_user?.user_name}}</span>
              <p class="text-green">{{program?.converted |date:'medium'}}</p>
            </ion-label>
            <div class="action-links" slot="end">
              <ion-icon ios="ios-more" md="md-more" (click)="hostingDropdown(program?.id)"></ion-icon>
              <ion-icon ios="ios-restaurant" md="md-restaurant" (click)="showSchedule(program)"></ion-icon> -->
              <!-- <ion-icon ios="ios-arrow-down" md="ios-arrow-down" (click)="expandItem(program,1,i)"
                *ngIf="program?.repeate_status!=2" [ngClass]="classVariable == i ? 'active':'deactive'">
              </ion-icon> -->
            <!-- </div>
          </ion-item> -->
          <!-- <app-expandable expandHeight="300px" class="timeline-block" [expanded]="program.expanded">
            <div class="lds-dual-ring" *ngIf="!cloneProg"></div>
            <ion-list class="timeline-list" lines="none">
              <ion-item *ngFor="let item of cloneProg">
                <ion-label>
                  <h3 class="list-person">{{item?.converted | date:'medium'}} <span class="ion-float-right d-flex">
                      <ion-icon class="text-green mr-1" ios="ios-time" md="md-time"></ion-icon> {{item?.program_duration}}
                      Min.
                    </span> </h3>
                  <p>{{item?.title}} - {{item?.description}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </app-expandable> -->
        <!-- </ion-card>
      </div> -->
      <!-- <div *ngIf="showAll">
        <ion-card *ngFor="let program of allProgramList | programFilter; let j = index;" class="ion-no-margin">
          <ion-item class="item-card">
            <ion-avatar slot="start" [routerLink]="['/program-details',program.id]">
              <img src="{{url}}{{program?.img_arr[0]}}" *ngIf="program?.image_path">
              <img src="../../../assets/images/loading.jpg" *ngIf="!program?.image_path">
            </ion-avatar>
            <ion-label [routerLink]="['/program-details', program.id]">
              <h3 class="list-person">{{program?.title}}</h3>
              <span class="list-name d-block">{{program?.type_id}}</span>
              <span class="list-name">By: {{program?.program_user?.user_name}}</span>
              <p class="text-green">{{program?.converted |date:'medium'}}</p>
            </ion-label>
            <div class="action-links" slot="end">
              <ion-icon ios="ios-more" md="md-more" (click)="hostingDropdown(program?.id)"></ion-icon>
              <ion-icon ios="ios-restaurant" md="md-restaurant" (click)="showSchedule(program)"></ion-icon> -->
              <!-- <ion-icon ios="ios-arrow-down" md="ios-arrow-down" (click)="expandItem(program,4,j)"
                *ngIf="program?.repeate_status!=2" [ngClass]="classVariable == j ? 'active':'deactive'">
              </ion-icon> -->
            <!-- </div>

          </ion-item> -->
          <!-- <app-expandable expandHeight="300px" class="timeline-block" [expanded]="program.expanded">
            <div class="lds-dual-ring" *ngIf="!cloneProg"></div>
            <ion-list class="timeline-list" lines="none">
              <ion-item *ngFor="let item of cloneProg">
                <ion-label>
                  <h3 class="list-person">{{item?.converted | date:'medium'}} <span class="ion-float-right d-flex">
                      <ion-icon class="text-green" ios="ios-time" md="md-time"></ion-icon> {{item?.program_duration}}
                      Min.
                    </span> </h3>
                  <p>{{item?.title}} - {{item?.description}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </app-expandable> -->
        <!-- </ion-card>
      </div>
      <div *ngIf="programList?.length < 1 && allProgramList?.length<1" class="no-data">
        <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
        <p>No Hosting Program</p>
      </div>
    </ion-list> -->
    <!------------ A T T E N D I N G   P R O G R A M  -->
    <!-- <ion-list lines="none" *ngSwitchCase="'attending'"> -->
      <!-- <app-invite-request  [tabData]="accTabData"></app-invite-request> -->
      <!-- <ion-item class="item-card" *ngFor="let item of accProgramList; let k = index;">
        <ion-avatar slot="start" [routerLink]="['/program-view',item.id]">
          <img src="{{url}}{{item?.img_arr[0]}}" *ngIf="item?.image_path">
          <img src="../../../assets/images/loading.jpg" *ngIf="!item?.image_path">
        </ion-avatar>
        <ion-label [routerLink]="['/program-view',item.id]">
          <h3 class="list-person">{{item.title}}</h3>
          <span class="list-name d-block">{{item.type_id}}</span>
          <span class="list-name">By: {{item?.program_user?.user_name}}</span>
          <p class="text-green">{{item?.converted |date:'medium'}}</p>
        </ion-label>
        <div class="action-links" slot="end">
          <ion-icon ios="ios-restaurant" md="md-restaurant" (click)="showSchedule(item)"></ion-icon> -->
          <!-- <ion-icon ios="ios-arrow-down" md="ios-arrow-down" (click)="expandItem(item,2,k)" [ngClass]="classVariable == k ? 'active':'deactive'"></ion-icon> -->
        <!-- </div>
      </ion-item> -->
      <!-- <div *ngIf="accProgramList?.length < 1" class="no-data">
        <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
        <p>No Attending Program</p>
      </div> -->
    <!-- </ion-list> -->
    <!-- <app-expandable expandHeight="300px" class="timeline-block" [expanded]="item?.expanded">
      <div class="lds-dual-ring" *ngIf="!cloneProg"></div>
      <ion-list class="timeline-list" lines="none">
        <ion-item *ngFor="let item of cloneProg">
          <ion-label>
            <h3 class="list-person">{{item?.converted | date:'medium'}} <span class="ion-float-right d-flex">
                <ion-icon class="text-green" ios="ios-time" md="md-time"></ion-icon> {{item?.program_duration}}
                Min.
              </span> </h3>
            <p>{{item?.title}} - {{item?.description}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </app-expandable> -->

    <!----------- R E Q U E S T E D   P R O G R A M  -->
    <ion-list lines="none" *ngSwitchCase="'requested'">
     

      <ion-card *ngFor="let item of reqProgramList; let l = index;" class="ion-no-margin upcomingCard">
      <ion-item lines="none">
        <ion-avatar slot="start" [routerLink]="['/program-view',item.id]">
          <img src="{{url}}{{item?.img_arr[0]}}" *ngIf="item?.image_path">
          <img src="../../../assets/images/loading.jpg" *ngIf="!item?.image_path">
        </ion-avatar>
        <ion-label [routerLink]="['/program-view',item.id]">
          <h3 class="list-person">{{item.title}}</h3>
          <span class="list-name d-block">{{item.type_id}}</span>
          <span class="list-name">By: {{item?.program_user?.user_name}}</span>
          <p class="text-green">{{item?.converted |date:'medium'}}</p>
        </ion-label>
        <div class="action-links" slot="end">
          <ion-icon ios="ios-more" md="md-more" (click)="requestDropdown(item.id)"></ion-icon>
          <ion-icon ios="ios-restaurant" md="md-restaurant" (click)="showSchedule(item)"></ion-icon>
          <!-- <ion-icon ios="ios-arrow-down" md="ios-arrow-down" (click)="expandItem(item,3,l)" *ngIf="item?.repeate_status!=2" [ngClass]="classVariable == l ? 'active':'deactive'">
          </ion-icon> -->
        </div>
      </ion-item>
      </ion-card>
      <div *ngIf="noReqProgramList" class="no-data">
        <img src="../../../assets/images/error.svg" class="mb-10" width="40px" />
        <p>No Requested Program</p>
      </div>
    </ion-list>
    <!-- <app-expandable expandHeight="300px" class="timeline-block" [expanded]="item?.expanded">
      <div class="lds-dual-ring" *ngIf="!cloneProg"></div>
      <ion-list class="timeline-list" lines="none">
        <ion-item *ngFor="let item of cloneProg">
          <ion-label>
            <h3 class="list-person">{{item?.converted | date:'medium'}} <span class="ion-float-right d-flex">
                <ion-icon class="text-green" ios="ios-time" md="md-time"></ion-icon> {{item?.program_duration}}
                Min.
              </span> </h3>
            <p>{{item?.title}} - {{item?.description}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </app-expandable> -->
  </div>
  
</ion-content>