.item-card ion-avatar{border-radius: 0;--border-radius: 0;height: 75px;width: 100px;}
ion-item{margin-bottom: 5px;border-radius: 4px;--border-radius: 4px;}
.calendar-days ion-segment-button{min-width: 48px;border: none;color: rgba( 0,0,0 ,0.6);}
.calendar-date ion-segment-button {min-width: 58px;border: none;color: rgba( 0,0,0 ,0.6);}
.calendar-slider .swiper-slide{background: transparent;}
.slideBack{left: 10px;}
.slideNext{right: 10px;}
ion-avatar{
    ion-skeleton-text{border-radius: 4px;}
}
ion-label{
    ion-skeleton-text{height: 15px;}
}
// ---------- css loader ------------
.lds-dual-ring {
    display: inline-block;
    width: 100%;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #27a69a;
    border-color:#27a69a #f7f7f7 #27a69a #f7f7f7;
    animation: lds-dual-ring 1.2s linear infinite;
    margin: 10px auto;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .no-data{
    height: calc(100vh - 171px);
  }
  ion-card{border-bottom: 4px solid #f7f7f7;box-shadow: none;border-radius: 0;--border-radious: 0;
    ion-item{border-bottom: 1px solid #f7f7f7;margin-bottom: 0;box-shadow: 0px 2px 10px 0px rgba(34, 35, 58, 0.14);box-shadow: 0px 2px 10px 0px rgba(0, 33, 30, 0.10);--border-radius: 0;--background: #FFF;border-radius: 0;
      ion-label{
        h3.list-person{white-space: break-spaces;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
      }
    }
    ion-list{background: #f7f7f7;}
    .timeline-list{
      ion-item{
        border-bottom: none;--background: transparent;box-shadow: none;
      }
    }
  }

  ion-header{
    ion-item.item-datetime{margin: 0;
      ion-datetime{padding: 0;}
    }    
  }
  ion-label.active p{    
    width: 18px;
    height: 18px;
    background: #27a69a;
    border-radius: 50%;
    font-weight: 400;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color : #f7f7f7;
  } 