.item-card ion-avatar{border-radius: 0;--border-radius: 0;height: 75px;width: 100px;}
ion-item{margin-bottom: 5px;border-radius: 4px;--border-radius: 4px;}
.calendar-days ion-segment-button{min-width: 48px;border: none;color: rgba( 0,0,0 ,0.6);}
.calendar-date ion-segment-button {min-width: 58px;border: none;color: rgba( 0,0,0 ,0.6);}
.calendar-slider .swiper-slide{background: transparent;}
.slideBack{left: 10px;}
.slideNext{right: 10px;}
ion-avatar{
    ion-skeleton-text{border-radius: 4px;}
}
ion-label{
    ion-skeleton-text{height: 15px;}
}
// ---------- css loader ------------
.lds-dual-ring {
    display: inline-block;
    width: 100%;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #27a69a;
    border-color:#27a69a #f7f7f7 #27a69a #f7f7f7;
    animation: lds-dual-ring 1.2s linear infinite;
    margin: 10px auto;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .no-data{
    height: calc(100vh - 171px);
  }
  ion-card{border-bottom: 4px solid #f7f7f7;box-shadow: none;border-radius: 0;--border-radious: 0;
    ion-item{border-bottom: 1px solid #f7f7f7;margin-bottom: 0;box-shadow: 0px 2px 10px 0px rgba(34, 35, 58, 0.14);box-shadow: 0px 2px 10px 0px rgba(0, 33, 30, 0.10);--border-radius: 0;--background: #FFF;border-radius: 0;
      ion-label{
        h3.list-person{white-space: break-spaces;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
      }
    }
    ion-list{background: #f7f7f7;}
    .timeline-list{
      ion-item{
        border-bottom: none;--background: transparent;box-shadow: none;
      }
    }
  }

  ion-header{
    ion-item.item-datetime{margin: 0;
      ion-datetime{padding: 0;}
    }    
  }
  ion-label.active p{    
    width: 18px;
    height: 18px;
    background: #FFF;
    border-radius: 50%;
    font-weight: 400;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color : #2bbbad;
  } 
  .programCalendar{text-align: center;
    ion-item{
      background: #2bbbad;
      --background: #2bbbad;
      ion-label{text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        color: #FFFf;
        p{padding: 0;width: 24px;
          height: 24px;
          margin: 10px auto 0;
          display: flex;
          align-items: center;
          justify-content: center;color: #FFF;}
      }
      ion-label.active{
        p{color: #2bbbad;}
      }
    }
  }

.programCalendar+.top-segment+div .no-data{
    height: calc(100vh - 298px);
}
.upcomingCard{border-radius: 0;box-shadow: none;border-bottom: 5px solid #f7f7f7;
  ion-avatar{width: 65px;height: 65px;}
  ion-label{line-height: 1.5;}
}


.swiper-wrapper .slide-container .weekview-allday-table {
  display: none !important;
}

ion-slides.slides-container.md.slides-md.swiper-container.hydrated.swiper-container-initialized.swiper-container-horizontal {
  background: #27A69A !important;
}
.table-bordered {
  border: none !important;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: none !important;
}
td, th {
  border: 0!important;
}
.calendar{
  background: #27A69A !important;
}

::ng-deep {
  .weekview-allday-table {
      display: none !important;
  }
  ion-slides.slides-container.md.slides-md.swiper-container.hydrated.swiper-container-initialized.swiper-container-horizontal {
    background: #27A69A !important;
  }
  td, th {
    border: 0!important;
  }
  .table-bordered {
    border: 0!important;
}
.slides-container {
  color: #fff !important;
  background: #27A69A !important;
}
.list-ios{
  margin-bottom: 0 !important;
}
.table > thead > tr > th.weekview-header {
  font-size: 13px !important;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px  ;
}
ion-title.ios.title-ios.title-default.hydrated {
  padding-inline: 0px;
}
}
.list-person{
  white-space: nowrap;
  text-overflow: ellipsis;
}
.flex-card{
  display: flex;
  align-items: center;
}
p.text-green {
  font-size: 14px;
}
.divider-line{
  width: 2px;
  height: 50px;
  margin: 0 20px;
  background-color: #000;
}
.title__div{
  width: 10%;
}
.primary-color{
  color: #27a69a;
}