<audio #player src="{{selectedAudio[0]}}"></audio>
<div class="musicWrapper">
    <ion-toolbar padding class="audio-list ion-no-padding">
        <div class="audio-listInner">
        <ion-fab-button (click)="play()" size="small" fill="clear" color="light" class="newmusiclist-playBtn">
            <ng-container *ngIf="isLoading; else loaded"><ion-spinner name="crescent" class="music-spinner"></ion-spinner></ng-container>
            <ng-template #loaded>
                <ion-icon [name]="isPlaying ? selectedAudio[1]!=0 ? 'play' : 'pause' : 'play'">
                </ion-icon>
            </ng-template>
        </ion-fab-button>
        <div>
            <div class="musicbar">            
                <ion-range min="0" [max]="duration" [value]="currentTime" (ionChange)="seek($event)" class="newmusiclist-range" color="light"></ion-range>                
            </div>
            <div>
                <div class="music-timer-fav">
                    <ion-label color="light" slot="end">{{ duration }}</ion-label>
                </div>
                <div class="music-name">
                    <ion-label class="ion-text-center">{{selectedAudio[2]}}</ion-label>
                </div>   
            </div>             
        </div>
    </div>
        <!-- <ion-label color="light" slot="start">{{ currentTime }}</ion-label> -->
    </ion-toolbar>
</div>