<ion-content class="sec-login">
  <ion-row>
    <ion-col class="ion-padding ion-text-center">
      <div class="login-logo ion-text-center">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" [routerLink]="['/signin']" class="back-icon"></ion-icon>
        <img src="../../../assets/images/logo.png">
      </div>
      <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onClickSubmit()">
        <ion-item class="ion-no-padding">
          <ion-input type="text" color="light" placeholder="Username"  formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"  (ngModelChange)=" checkUserName($event)">
          </ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.username">
          <span class="error-message"
            *ngIf="(submitted || registerForm.get('username').touched) && registerForm.get('username').hasError(validation.type)">{{ validation.message }}</span>
          <span class="error-message">{{unameAvail}}</span>
        </ng-container>
        <ion-list class="suggestion-list">
          <ion-item *ngIf="unameAvaibilityErr"><span class="error-message">{{unameAvail}}</span></ion-item>
          <ion-item *ngFor="let username of usernames" (click)="setUsername($event.target.innerText)">{{username}}
          </ion-item>
        </ion-list>
        <ion-item class="ion-no-padding">
          <ion-input type="email" formControlName="email" placeholder="Email Address" (change)="checkMail($event)"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  >
          </ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.email">
          <span class="error-message"
            *ngIf="(submitted || registerForm.get('email').touched ) && registerForm.get('email').hasError(validation.type)">
            {{ validation.message }}
          </span>
        </ng-container> 
        <span class="error-message">{{emailAvail}}</span>
        <ion-item class="ion-no-padding">
          <ion-input formControlName="password" placeholder="Set Password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }"  [type]="npwd ? 'password' : 'text'"></ion-input>
          <span toggle="#password-field" class="change-toggle-password">
            <ion-icon color="light" [name]="npwd ? 'eye-off' : 'eye'" (click)="npwd=!npwd"></ion-icon>
          </span>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.password">
          <span class="error-message"
            *ngIf="(submitted || registerForm.get('password').touched) && registerForm.get('password').hasError(validation.type)">
            {{ validation.message }}
          </span>
        </ng-container>
        <ion-item class="ion-no-padding">
          <ion-label class="text-white">Age between</ion-label>
          <ion-select class="selection" formControlName="age">
            <ion-select-option value="1">less than 15</ion-select-option>
            <ion-select-option value="2">15-25</ion-select-option>
            <ion-select-option value="3">25-35</ion-select-option>
            <ion-select-option value="4">35-45</ion-select-option>
            <ion-select-option value="5">45-55</ion-select-option>
            <ion-select-option value="6">more than 55</ion-select-option>
          </ion-select>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.age">
          <span class="error-message"
            *ngIf="(submitted || registerForm.get('age').touched) && registerForm.get('age').hasError(validation.type)">
            {{ validation.message }}
          </span>
        </ng-container>
        <ion-item class="ion-no-padding">
          <ion-radio-group formControlName="sex">
            <ion-label>Sex</ion-label>
            <ion-item lines="none" class="ion-no-margin">
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="1"  formControlName="sex" ></ion-radio>
            </ion-item>
            <ion-item lines="none" class="ion-no-margin">
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="2"  formControlName="sex"> </ion-radio>
            </ion-item>
            <ion-item lines="none" class="ion-no-margin">
              <ion-label>Other</ion-label>
              <ion-radio slot="start" value="3"  formControlName="sex"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.sex">
          <span class="error-message"
            *ngIf="(submitted || registerForm.get('sex').touched) && registerForm.get('sex').hasError(validation.type)">
            {{ validation.message }}
          </span>
        </ng-container>
        <ion-item class="ion-no-padding">
          <ion-label class="text-white" for="test6">{{captchaDiv}} = </ion-label> 
           <ion-input type="number" name="captcha" id="captcha" (change)=" checkCaptcha($event)"
            placeholder="Enter captcha" formControlName="captcha" autocomplete="off"></ion-input>
          <span (click)="refreshCaptcha()" class="icon-refresh">
            <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
          </span>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.captcha">
          <span class="error-message"
            *ngIf="(submitted || registerForm.get('captcha').touched) && registerForm.get('captcha').hasError(validation.type)">
            {{ validation.message }}
          </span>
         <span class="error-message"> {{ captchaErr }}</span>
        </ng-container>
        <div class="termsBox">
          <ion-checkbox formControlName='policy' checked="false"></ion-checkbox> 
          <ion-text class="text-white" for="test6">By signing up, you agree to our <a class="text-green" (click)="termsModal()">Terms &amp;Conditions</a> &amp; <a class="text-green" (click)="privacyModal()">Privacy Policy</a></ion-text>
        </div>
        <!-- <ion-item class="ion-no-padding terms mt-20 terms-list" lines="none">          
          
        </ion-item>  -->
        <ng-container *ngFor="let validation of validation_messages.policy">
          <span class="error-message"
            *ngIf="(submitted || registerForm.get('policy').touched) && registerForm.get('policy').hasError(validation.type)">
            {{ validation.message }}
          </span>
        </ng-container>
        <ion-button expand="block" (click)="onClickSubmit()" class="green ion-text-uppercase mt-20">SignUp</ion-button>
        <div class="or-text">
          <ion-text>OR</ion-text>
        </div>
        <!-- <ion-button fill="outline" [routerLink]="['/home']" class="ion-text-uppercase btn-border btn-insta">
          <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon> Log In With instagram
        </ion-button> -->
        <p class="bottom-text">Already account here <a routerLink="/signin">Sign In</a></p>
      </form>
    </ion-col>
  </ion-row>
</ion-content>