ion-card{border-radius: 0;box-shadow: none;border-bottom: 4px solid #f7f7f7;
    ion-item{border-bottom: 1px solid #f7f7f7;
        .action-links{
            ion-icon{color: #27a69a;transition: all 0.2s;}
            ion-icon.active{transform: rotate(180deg);}
        }
    }
}

.contentList p{color: #999;}
.contentList{background: #f7f7f7;
    ion-label{
        p{color: #27a69a;}
    }
}
.no-data{
    height: calc(100vh - 100px)
}
