.inner-scroll{
    background-color: #fff;
}
ion-label{
    color: #222;
}
.top-header{
    display: flex;
    height: 50px;
    max-height: 48px;
    min-height: 48px;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 17%);
    ion-icon{
        font-size: 1.75rem;
        color: #222;
        margin: 0;
    }
    .top-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 0;   
    }
    .three-block{
        text-align: center;
        padding: 5px 0;
        // margin-bottom: 10px;
        ion-item{
            --inner-border-width: 0px 0px 0px 0px;
            --padding-start: 0;
            --inner-padding-end: 0;
            ion-label{
                text-transform: capitalize;
                font-size: 1rem;
                color: #222;
            }
        }
        ion-item:first-child{
            padding-left: 8px;
            min-width:80px;
        }
        ion-item:last-child{
            min-width: 80px;
        }
        .icon-right-side{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .ion-text-end{
            text-align: end !important;
        }
    }
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .input-block{
        margin-bottom: 15px;
        ion-label{
            color: #222;
            line-height: 1.5;
            font-size: 15px;
        }
        .input-box{
            --padding-start: 0px;
            // border: 1px solid #cecece;
        }
    }
    .ion-color-primary {
        --ion-color-base: #fff !important;
    }
    .w-half{
        width: 48%;
    }
    // ion-button.ios.button.button-block.button-large.button-solid.ion-activatable.ion-focusable.hydrated.button-disabled{
    //     background-color: #59d8cb;
    // }
    .save-btn{
        // background-color: #27A69A;
        font-size: 20px;
        font-weight: 400;
        --background: #27A69A;
        --background-focused: #27A69A;
        --background-hover: #27A69A;
    }
// ion-item{
//     --background: #3880ff;
//     --color: #fff;
// }

// ion-button{
//     --background: #062f77;
// }