<ion-header class="top-header ion-no-padding" translucent>
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons slot="start" class="ion-no-margin" [routerLink]="['/tabs/chats']">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
      <ion-avatar slot="start">
        <img *ngIf="!profile_pic" src="../../assets/images/user.jpg">
        <img *ngIf="profile_pic" src="{{profilePicUrl}}{{profile_pic}}">
      </ion-avatar>
      <ion-label>
        <h3 class="list-person">{{user_name}}</h3>
        <span class="list-name"> {{UserOnLineStatus}}</span>
      </ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end">
      <ion-button slot="end" (click)="presentPopover()"><ion-icon ios="ios-more" md="md-more"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content"> 
  <ion-list class="chats-list" lines="none" *ngFor="let storeMessage of storeMessages">
    <!-- <ion-item>
      <ion-label class="chat-duration"><span>{{(storeMessage.created_at | date:'dd/MM/y') == chatDates? : }}</span></ion-label>
    </ion-item> -->
    <ion-item class="chat-box chat-right" *ngIf="storeMessage.sender_id ===  userData?.id &&  storeMessage.receiver_id == receiverId">
      <div class="ion-text-end">
        <ion-label>{{ storeMessage.message }}{{storeMessage.read_mess}}</ion-label>
        <span class="chat-time">{{ storeMessage.created_at | date:'shortTime' }} <ion-icon ios="ios-done-all" md="md-done-all" [ngClass]="{ 'text-green': storeMessage.read_mess == 1 }"></ion-icon></span>
      </div>
    </ion-item>
    <ion-item class="chat-box chat-left" *ngIf="storeMessage.sender_id !== userData?.id && storeMessage.receiver_id == userData?.id">
      <div class="ion-text-start">
        <ion-label>{{ storeMessage.message }}</ion-label>
        <span class="chat-time">{{ storeMessage.created_at | date:'shortTime' }}</span>
      </div>
    </ion-item>    
  </ion-list>
  <ion-list class="chats-list" lines="none" *ngFor="let message of messages">
    <!-- <ion-item>
      <ion-label class="chat-duration"><span>Today</span></ion-label>
    </ion-item> -->
    <ion-item class="chat-box chat-right" *ngIf="message.user ===  userData?.id &&  message.sendTo == receiverId">
      <div class="ion-text-end">
        <ion-label>{{ message.msg }}</ion-label>
        <span class="chat-time">{{ message.createdAt | date:'shortTime' }} <ion-icon ios="ios-done-all" md="md-done-all" [ngClass]="{ 'text-green': UserOnLineStatus === 'is OnLine' }"></ion-icon></span>
      </div>
    </ion-item>
    <ion-item class="chat-box chat-left" *ngIf="message.user !== userData?.id && message.sendTo == userData?.id">
      <div class="ion-text-start">
        <ion-label>{{ message.msg }}</ion-label>
        <span class="chat-time">{{ message.createdAt | date:'shortTime' }}</span>
      </div>
    </ion-item>    
  </ion-list>
</ion-content>
<ion-footer class="sticky-footer">
  <ion-item lines="none">   
    <ion-textarea [(ngModel)]="message" placeholder="Type here.."></ion-textarea>
    <img src="../../assets/images/send.svg" class="send-img"  (click)="sendMessage()">
  </ion-item>
</ion-footer>