.swiper-slide {width: auto;}
ion-textarea.form-control textarea{height: 100%;padding: 0;}
.scrollable-imgs ion-segment-button{border-radius: 8px;--padding-start: 0;--padding-end: 0;margin-right: 8px;background: whitesmoke;--border-color: transparent;display: block;height: 100%;width: 160px;max-width: 160px}
.scrollable-imgs ion-segment-button img{width: 100%;height: 100%;object-fit: cover;}
.scrollable-imgs ion-segment-button ion-icon{position: absolute;right: 0;top: 0;margin: 0;color:#222}
