.btnLive {
    font-size: 10px;
    background: #27a69a;
    --background: #27a69a;
    color: #fff;
    letter-spacing: 0.5px;
    border-radius: 30px;
    --border-radius: 30px;
    height: 20px;
    padding: 0;
    --padding-start: 15px;
    --padding-end: 15px;
}

.cat-card {
    position: relative;
    height: 260px;
    margin: 0;
    text-align: center;box-shadow: 0px 5px 10px rgba(164, 164, 164, 0.25);
}
.cat-card .card-content-md {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
    color: #fff;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%);
    position: absolute;width: 100%;
    top: 0;
}
.cat-card .card-content-md ion-avatar {
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
}

.category-card {position: relative;height: 65px;width: 65px;margin: 0 auto;text-align: center;box-shadow: 0px 5px 10px rgba(164, 164, 164, 0.25);border-radius: 50%;
    img{width: 35px;margin: 15px auto;}    
}
.category-card+h4{font-size:10px;margin:5px 0 0;text-transform:uppercase;color: #737373;text-align: center;}
.catBG{height: 100%;
    img{height: 100%;object-fit: cover;}
}
.special-slide{
    position: relative;
}
.special-slide:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.65) 100%);
}
.white-background{
    background: #fff !important;
}

.item-header{
    padding: 15px 15px 0px 15px !important;
}
.header-right{
    align-items: center;
}

.post-image, 
.post-video {
    height: calc(100vw - 30px) !important;
    padding: 15px;
}
.post-image img, .post-video img{
    border-radius: 20px;
}
.video-icon{
    top: 25px !important;
    left: 30px !important;
    padding: 1px 4px ;
    border-radius: 5px;
    background: #00000029;
}
.post-content {
    padding: 0px 15px 15px 15px !important;
}