<ion-list class="user-list ion-no-padding">
  <ion-list-header>
    <h6>Equipment List</h6>
    <ion-icon ios="ios-close" md="md-close" (click)="closeModal()"></ion-icon>
  </ion-list-header>
  <ion-item>        
    <ion-label class="ion-padding-horizontal">Dumbles</ion-label>
  </ion-item>
  <ion-item> 
    <ion-label class="ion-padding-horizontal">Rope</ion-label>
  </ion-item>
  <ion-item>  
    <ion-label class="ion-padding-horizontal">Leg Exerciser</ion-label>    
  </ion-item>
  <ion-item>    
    <ion-label class="ion-padding-horizontal">Treadmill</ion-label>    
  </ion-item>
</ion-list>