<ion-header>
  <ion-toolbar>
      <a [ngClass]="'display-inline-block'" href="">  <ion-buttons slot="start">
          <ion-back-button defaultHref="/settings"></ion-back-button>
        </ion-buttons></a> 
    <ion-title [ngClass]="'display-inline-block'" text-center>Program History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-item routerLink="/payment-review" routerDirection="forward">
    <ion-label>Consultant:Pooja96 <ion-label>Program: Riding with Pooja96</ion-label>
    <ion-label> Date: 13 May 2019 at 6:00 PM</ion-label></ion-label> 
   </ion-item>

   <ion-item routerLink="/payment-review" routerDirection="forward">
    <ion-label>Consultant:Pooja96 <ion-label>Program: Riding with Pooja96</ion-label>
    <ion-label> Date: 13 May 2019 at 6:00 PM</ion-label></ion-label> 
   </ion-item>

   <ion-item routerLink="/payment-review" routerDirection="forward">
    <ion-label>Consultant:Pooja96 <ion-label>Program: Riding with Pooja96</ion-label>
    <ion-label> Date: 13 May 2019 at 6:00 PM</ion-label></ion-label> 
   </ion-item>

   <ion-item routerLink="/payment-review" routerDirection="forward">
    <ion-label>Program: <ion-label>Program: Riding with Pooja96</ion-label>
    <ion-label> Date: 13 May 2019 at 6:00 PM</ion-label></ion-label> 
   </ion-item>

   <ion-item routerLink="/payment-review" routerDirection="forward">
    <ion-label>Consultant:Pooja96<ion-label>Program: Riding with Pooja96</ion-label>
    <ion-label> Date: 13 May 2019 at 6:00 PM</ion-label></ion-label> 
   </ion-item>

   <ion-item routerLink="/payment-review" routerDirection="forward">
    <ion-label>Consultant:Pooja96 <ion-label>Program: Riding with Pooja96</ion-label>
    <ion-label> Date: 13 May 2019 at 6:00 PM</ion-label></ion-label> 
   </ion-item>

   <ion-item routerLink="/payment-review" routerDirection="forward">
    <ion-label>Consultant:Pooja96 <ion-label>Program: Riding with Pooja96</ion-label>
    <ion-label> Date: 13 May 2019 at 6:00 PM</ion-label></ion-label> 
   </ion-item>
   
</ion-content>
