<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label>Comments ({{count}})</ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end"></ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content">
  <ion-list *ngIf="data">
    <ion-list lines="none" class="comment-list" *ngFor="let data of comment" >
      <ion-item class="comment-item">
        <ion-avatar slot="start" *ngIf="data.user.bios.profile_pic">
          <img src='{{profilePicPath}}{{data.user.bios.profile_pic}}'>
        </ion-avatar>
        <ion-avatar slot="start" class="ion-no-margin" *ngIf="!data.user.bios.profile_pic">
          <img src="../../assets/images/user.jpg">
        </ion-avatar>
        <ion-label>
          <h2>{{data.user.user_name}}</h2>
          <p>{{data.comment}}</p>
          <ion-label class="comment-links">
            <ion-text id="{{data.id}}" (click)="replyComment($event)">Reply</ion-text>
            
            <ion-text *ngIf="userId == data.user_id" id="{{data.id}}" (click)="deleteComment($event)">Delete</ion-text>
             
          </ion-label>
        </ion-label>
      </ion-item>
      <ion-list lines="none" class="comment-list" *ngFor="let replyData of data.comment_reply">
        <ion-item class="comment-item">
          <ion-avatar slot="start" *ngIf="replyData.user.bios.profile_pic">
            <img src="{{profilePicPath}}{{replyData.user.bios.profile_pic}}">
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="!replyData.user.bios.profile_pic">
            <img src="../../assets/images/user.jpg">
          </ion-avatar>
          <ion-label>
            <h2>{{replyData.user.user_name}}</h2>
            <p>{{replyData.comment}}</p>
            <ion-label class="comment-links">
              <ion-text *ngIf="userId == replyData.user_id" id="{{replyData.id}}" (click)="deleteComment($event)" >Delete</ion-text>
            </ion-label>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-list> 
  <ion-list lines="none" class="comment-list" *ngIf="!data">
    <ion-item class="comment-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item class="comment-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item class="comment-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item class="comment-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item class="comment-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </ion-label>
    </ion-item>  
    <ion-item class="comment-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item class="comment-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
      </ion-label>
    </ion-item>  
    <ion-item class="comment-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item class="comment-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>      
  </ion-list>
</ion-content>
<ion-footer class="sticky-footer">
  <form class="commentForm" [formGroup]="commentForm" (ngSubmit)="onClickSubmit()">
  <ion-item lines="none">
    <ion-avatar slot="start" class="ion-no-margin" *ngIf="profileImage">
      <img src="{{profilePicPath}}{{profileImage}}">
    </ion-avatar>
    <ion-avatar slot="start" class="ion-no-margin" *ngIf="!profileImage">
      <img src="../../assets/images/user.jpg">
    </ion-avatar>
    <textarea placeholder="Enter Input" #commentfield formControlName="comment" name="comment"   auto-grow="true" class="comment"></textarea>
    <img (click)="onClickSubmit()" src="../assets/images/send.svg" class="send-img">
  </ion-item>
</form>
</ion-footer>