.user-profile-bg{height: 185px;background: url(../../assets/images/demo3.jpg) no-repeat;background-size: cover;background-position: center;padding: 0 15px;}
.profile-content{position: relative;top: -50px;padding-top:60px;display: flex;justify-content: center;align-items: center;flex-direction: column;text-align: center;}
.profile-content a{color: #777777;font-size: 0.85rem;display: flex;justify-content: center;align-items: center;}
.profile-content ion-text{position: relative;top: 35px;}
.user-img{width: 90px;height: 90px;border-radius: 50%;object-fit: cover;object-position: center;-webkit-box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.55);-moz-box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.55);box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.55);margin-bottom: 10px;position: absolute;top: 0;}

.user-icon{width: 25px;height: 25px;border-radius: 50%;background: rgba(39, 166, 154, 0.07);display: flex;justify-content: center;align-items: center;}
.user-icon img{width: 16px;height: 16px;}

.upcoming-block{box-shadow: 0px 8px 24px rgba(34, 35, 58, 0.09);border-bottom: none}
ion-card{box-shadow: 0px 8px 24px rgba(34, 35, 58, 0.09);background: #FFF;}

ion-card.ios{margin-top: 10px;margin-bottom: 10px;}
// hitesh cssc strt
.upcomingProgram-list {height: calc(100vh - 450px);}
.user-info ion-card {
    // display: flex;
    // align-items: center;
    padding: 10px 0px;
}
.user-info ion-card a {color: #737373;}
// hitesh css end

.ml-0{
    margin-left: 0 !important;
}
.userDisplayName{
    margin-left: 115px;
}
.user-profile-header{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.user-profile-header ion-text{
    font-size: 0.8rem;
    margin-left: 8px;
}
.user-profile-details{
    padding: 10px 25px;
}
.user-details{
    font-size: 0.9rem;
}
.primary-color{
    color: #27a69a;
    font-size: 1.5rem;
}
.ABS-info{
    position: absolute;
    right: 15px;
    bottom: 22px;
}
.ABS-info .item-native .item-inner{
    border-style: none !important;
    border-color: #fff !important;
    border: none !important;
}
.exclusive-text{
    text-transform: capitalize;
    position: absolute;
    top: 26px;
    right: -60px;
    padding: 5px;
    transform: rotate(45deg);
    color: #fff;
    text-align: center;
    width: 200px;
    background: #27A69A;
}
.item-card {
    border-radius: 0px;
}
.item-header{
    padding: 15px 15px 15px 15px;
}
.img-container {
    padding: 0px;
}
.item-card{
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}
.post-image, .post-video {
    height: calc(100vw - 25px) !important;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.post-thumbnail {
    border-radius: 0px;
}
.video-icon {
    top: 15px;
    left: 15px;
    padding: 1px 4px;
    border-radius: 5px;
    background: #00000029;
    font-size: 1.2rem !important;
}
.post-slider {
    height: 100%;
    max-height: none !important;
    border-radius: 0px;
}
.post-slider ion-slide {
    height: 100% !important;
}
.post-content {
    padding:15px;
}
item-post {
    margin-bottom: 10px;
}
.user-info{
    border-top: 1px solid #cecece;
}
.pb-10{
    padding-bottom: 15px;
}
.empty-block {
    width: 90%;
    margin: auto;
    height: 200px;
    border: dotted #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h4.text-center {
    text-align: center;
}
.btn-primary{
    padding: 12px 20px;
    color: #FFF;
    border-radius: 4px;
    background-color: #27a69a;
}
.flex-center{
    height: 50vh;
    display: flex;
    align-items: center;
}
.sec-banner{
    img{
        object-fit: cover;
        object-position: center;
    }
}
// .userDisplayName{
//     margin-bottom: 0px;
//     font-size: 20px;
//     margin-top: 12px;
// }
.menu-icon{
    width: 30px !important;
    height: 30px !important;
}
.userNameBlock{
    display: flex;
    align-items: center;
    .userDisplayName{
        margin-bottom: 0px;
        font-size: 20px;
        margin-top: 12px;
    }
    ion-icon{
        font-size: 18px;
        margin-top: 12px;
        margin-left: 5px;
    }
}
.user_details {
    display: block;
    padding: 0 15px;
  }
  .user_time{
    justify-content: space-around;
    ion-text{
        font-size: 1.3rem;
        text-align: center;
        line-height: 1;
        p{
            font-size: 1.3rem;
            color: #27a69a;
        }
        span{
            color: #999;
            font-size: 0.75rem;
        }
    }
}
.user_time .ion-no-padding {
    flex: 0 0 calc(calc(2.7 / var(--ion-grid-columns, 12)) * 100%) !important;
    width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%) !important;
    max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%) !important;
    background: #27A69A;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-right: 8px;
    border-radius: 5px;
}
.user_time {
    display: flex;
    padding-top: 5px;
}