.user-profile-bg{height: 185px;background: url(../../assets/images/demo3.jpg) no-repeat;background-size: cover;background-position: center;padding: 0 15px;}
.profile-content{position: relative;top: -50px;padding-top:60px;display: flex;justify-content: center;align-items: center;flex-direction: column;text-align: center;}
.profile-content a{color: #777777;font-size: 0.85rem;display: flex;justify-content: center;align-items: center;}
.profile-content ion-text{position: relative;top: 35px;}
.user-img{width: 90px;height: 90px;border-radius: 50%;object-fit: cover;object-position: center;-webkit-box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.55);-moz-box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.55);box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.55);margin-bottom: 10px;position: absolute;top: 0;}

.user-icon{width: 25px;height: 25px;border-radius: 50%;background: rgba(39, 166, 154, 0.07);display: flex;justify-content: center;align-items: center;}
.user-icon img{width: 16px;height: 16px;}

.upcoming-block{box-shadow: 0px 8px 24px rgba(34, 35, 58, 0.09);border-bottom: none}
ion-card{box-shadow: 0px 8px 24px rgba(34, 35, 58, 0.09);background: #FFF;}

ion-card.ios{margin-top: 10px;margin-bottom: 10px;}
// hitesh cssc strt
.upcomingProgram-list {height: calc(100vh - 450px);}
.user-info ion-card {
    // display: flex;
    // align-items: center;
    padding: 10px 0px;
}
.user-info ion-card a {color: #737373;}
// hitesh css end

.ml-0{
    margin-left: 0 !important;
}
.userDisplayName{
    margin-left: 115px;
}
.user-profile-header{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.user-profile-header ion-text{
    font-size: 0.8rem;
    margin-left: 8px;
}
.user-profile-details{
    padding: 10px 25px;
}
.user-details{
    font-size: 0.9rem;
}
.primary-color{
    color: #27a69a;
    font-size: 1.5rem;
}
.ABS-info{
    position: absolute;
    right: 15px;
    bottom: 7px;
}
.ABS-info .item-native .item-inner{
    border-style: none !important;
    border-color: #fff !important;
    border: none !important;
}
.exclusive-text{
    text-transform: capitalize;
    position: absolute;
    top: 26px;
    right: -60px;
    padding: 5px;
    transform: rotate(45deg);
    color: #fff;
    text-align: center;
    width: 200px;
    background: #27A69A;
}