<ion-header class="top-header ion-no-padding">
  <ion-list class="top-heading three-block">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin" (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item slot="center">
      <ion-label>{{programDetail?.title}}</ion-label>
    </ion-item>
    <ion-item class="icon-right-side ion-text-end" slot="end" [routerLink]="['/add-program']">
      <ion-icon ios="ios-create" md="md-create" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="main_content no_footer">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card-content class="item-content ion-no-padding">
        <ion-thumbnail>
          <img src="{{url}}{{programDetail?.img_array[0]}}" *ngIf="programDetail?.image_path">
          <img src="../../../assets/images/loading.jpg" *ngIf="!programDetail?.image_path">
        </ion-thumbnail>
      </ion-card-content>
      <ion-list lines="none" class="list-info">
        <ion-item>
          <img src="../../../assets/images/target.svg" />
          <ion-label>{{programDetail?.category_id}}</ion-label>
        </ion-item>
        <ion-item>
          <img src="../../../assets/images/purse.svg" />
          <ion-label>{{programDetail?.payment_type}}</ion-label>
        </ion-item>
        <ion-item>
          <img src="../../../assets/images/group.svg" />
          <ion-label>{{programDetail?.type_id}}</ion-label>
        </ion-item>
        <ion-item>
          <img src="../../../assets/images/clock.svg" />
          <ion-label>{{programDetail?.program_duration || 0}} Min</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="12" class="ion-padding">
      <p class="mb-10">{{programDetail?.description }} &nbsp; <ion-text class="text-green" (click)="showSchedule(programDetail)"
          slot="end">View Schedule</ion-text>
      </p>
      <ion-list lines="none" class="users-list d-block">
        <ion-item>

             <ion-button *ngIf="programDetail?.is_requested ==1 && !request_join && !programDetail?.ended" size="small" slot="end" class="green" (click)="joinRequest()" >Request To Join</ion-button> 
           <ion-button *ngIf="request_accs_pending && !programDetail?.ended" size="small" slot="end" class="green" (click)="acceptRequest()" >Accept Request</ion-button>      
             </ion-item>
             <div *ngIf="request_accs && !programDetail?.live" size="medium" slot="end" >Program will start sooon   
             </div>
             <div *ngIf="programDetail?.is_requested ==1 && !request_join && !programDetail?.ended" size="medium" slot="end" >Requested to join Program 
            </div>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="counter-box ion-padding">
    <ion-col size="3">
      <ion-text><span>0</span> Steps</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-text><span>{{hh | async}}</span> Hours</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-text><span>{{mm| async}}</span> Minutes</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-text><span>{{ss | async}}</span> Seconds</ion-text>
    </ion-col>
  </ion-row>
  <ion-button *ngIf="programDetail?.live" [routerLink]="['/broadcaster',broadcastId]">Go Live</ion-button>
  <ion-label *ngIf="programDetail?.ended" >This Program has been Ended  </ion-label>
  
  <!-- <ion-button [routerLink]="['/broadcaster',broadcastId]">Tmp Live</ion-button> -->
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list lines="none" class="top-list three-block">
        <ion-item (click)="equipments()">
          <div class="top-icon">
            <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
          </div>
          <ion-label>Equipments</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/nutrition-list']" detail="false">
          <div class="top-icon">
            <ion-icon ios="ios-nutrition" md="md-nutrition"></ion-icon>
          </div>
          <ion-label>Nutrition</ion-label>
        </ion-item>
        <ion-item (click)="showChatUsers()" detail="false">
          <div class="top-icon">
            <ion-icon ios="ios-text" md="md-text"></ion-icon>
          </div>
          <ion-label>Chat</ion-label>
        </ion-item>
        <ion-item detail="false">
          <div class="top-icon">
            <ion-icon ios="ios-bicycle" md="md-bicycle"></ion-icon>
          </div>
          <ion-label>Activity</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>