<ion-header class="top-header ion-no-padding">
    <ion-item slot="start">
      <ion-buttons class="ion-no-margin"  (click)="closeModal()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-buttons>
      <ion-label>Privacy Policy</ion-label>
    </ion-item>
</ion-header>
<ion-content fullscreen  class="ion-padding">
  <ion-item> 
    <p>
      Usually, privacy policy templates are pretty straightforward. You can get one from a reputable source, copy the template and then paste it on your privacy page. Many of the relevant details will either be left blank or will need to be replaced. Either way, you need to be careful about the information that you put in the page. You want to focus on company name or website name, the name of the site owner, company CEO, or web manager, and a few important details about purchases, service charges, and so on. Other than a few tweaks, a good template won't require much else from you.
    </p>
  </ion-item>
  <ion-item> 
    <p>
      Usually, privacy policy templates are pretty straightforward. You can get one from a reputable source, copy the template and then paste it on your privacy page. Many of the relevant details will either be left blank or will need to be replaced. Either way, you need to be careful about the information that you put in the page. You want to focus on company name or website name, the name of the site owner, company CEO, or web manager, and a few important details about purchases, service charges, and so on. Other than a few tweaks, a good template won't require much else from you.
    </p>
  </ion-item>
</ion-content>
