
<ion-footer class="sticky-footer">
  <ion-list class="ion-no-margin">
    <ion-item>
      <a [routerLink]="['/main']" class="div_block waves-effect visible-over">
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
      </a>
    </ion-item>
    <ion-item>
      <a [routerLink]="['/consultant-profile-view']" class="div_block waves-effect visible-over">
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
      </a>
    </ion-item>
    <ion-item>
      
    </ion-item>
    <ion-item>
      <a [routerLink]="['/chat']" class="div_block waves-effect visible-over">
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
      </a>
    </ion-item>
    <ion-item>
      <a [routerLink]="['/user-profile-view']" class="div_block waves-effect visible-over">
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </a>
    </ion-item>
  </ion-list>
</ion-footer>